<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <style type="text/css">
            body {
                margin: 0;
                padding: 0;
            }
            img {
                max-width: 100%;
            }
            .wrapper {
                width: 640px;
                margin: 0 auto;
                position: relative;
            }

            #btn-choujiang {
                bottom: 0;
                height: 220px;
                left: 0;
                position: absolute;
                width: 100%;
                cursor: pointer;
            }

            .transparent_class {
                filter: alpha(opacity=0);
                -moz-opacity: 0;
                -khtml-opacity: 0;
                opacity: 0;
            }

            #dialog {
                background: #FFF8EE;
                color: #1A1A1A;
                font-size: 20px;
                font-weight: bold;
                position: absolute;
                text-align: center;
                top: 225px;
                width: 545px;
                border-radius: 6px;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                -webkit-box-shadow: 0 1px 5px #63605d;
                -moz-box-shadow: 0 1px 5px #63605d;
                box-shadow: 0 1px 5px #63605d;
                display: none;
                padding-bottom: 20px;
                max-width: 100%;
            }

            #qqnumber {
                padding: 12px 0;
                margin: 0;
                border: 1px solid #000000;
                line-height: 20px;
                border-radius: 6px;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                font-size: 20px;
                width: 320px;
                text-align: center;
            }

            #fullbg {
                position: absolute;
                background-color: Gray;
                display: none;
                left: 0px;
                top: 0px;
                filter: Alpha(Opacity=30);
                -moz-opacity: 0.4;
                opacity: 0.4;
            }

            #lingqu {
                background: url("/assets/others/bt.png") no-repeat scroll 0 0 transparent;
                border: medium none;
                height: 50px;
                width: 105px;
                cursor: pointer;
                vertical-align: middle;
            }

            #tips {
                display: none;
            }

            #tips p {
                margin: 20px 0 0;
            }

            #loading {
                top: 325px;
                width: 32px;
                height: 32px;
                position: absolute;
                display: none;
            }
            /* Media queries for responsive design
             --------------------------------------------- */

            /* --- Smartphones and small Tablet PCs --- */
            @media screen and (max-width: 640px) {
                .wrapper {
                    width: 100%;
                }

                #qqnumber {
                    width: 60%;
                }
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <img class="bg" src="/assets/others/qb1.png">
            <button id="btn-choujiang" class="transparent_class">
                我要抽奖
            </button>
        </div>

        <div id="fullbg">
            &nbsp;
        </div>

        <div id="dialog">
            <br>
            <img src="/assets/others/qb2.png">
            <input type="text" id="qqnumber" title="请输入您的QQ号" placeholder="请输入您的QQ号">
            <button id="lingqu">

            </button>
            <div id="tips">
                <p style="color: #800000;font-size: 19px; font-weight: normal;">
                    QQ号已记下！小编会在48小时内给您发Q币的~
                </p>
                <p>
                    想要iPad mini？ 继续去漂流瓶扔瓶子吧！！
                </p>

            </div>
        </div>

        <div id="loading">
            <img src="/assets/others/loading.gif" style="width:32px;">
        </div>

        <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {

                var center = function(el) {
                    var wnd = $(window), doc = $(document);
                    var left = doc.scrollLeft();
                    var top = doc.scrollTop();
                    left += (wnd.width() - el.width()) / 2;
                    top += (wnd.height() - el.height()) / 2;

                    el.css("top", Math.max(0, ((wnd.height() - el.outerHeight()) / 2) + wnd.scrollTop()) + "px");

                    el.css("left", left);
                    el.css("display", "block");

                }

                $("#btn-choujiang").click(function() {
                    var wnd = $(window), doc = $(document);

                    $("#fullbg").css({
                        width : doc.width(),
                        height : doc.height(),
                        display : "block"
                    });

                    center($("#loading"));

                    setTimeout(function() {
                        $("#loading").hide();
                        center($("#dialog"));
                    }, 500)

                    $("#lingqu").removeAttr("disabled");

                });

                var success = function(json, result) {
                    $("#loading").hide();
                    if (result) {
                        $("#tips").show();
                    }
                }

                $("#lingqu").click(function() {
                    var val = $("#qqnumber").val();

                    if (!val) {
                        $("#qqnumber").focus();
                    } else {
                        $("#lingqu").attr("disabled", "disabled");
                        center($("#loading"));
                        $.ajax({
                            type : "POST",
                            url : "getqb",
                            data : {
                                qq : val
                            },
                            success : success
                        });
                    }
                });

                //QQ号已记下！小编会在48小时内给您发Q币的~
            });

        </script>
    </body>
</html>
