// 成功创建评论之后，在评论列表插入该评论。
if (!$("#comment-list"))
	$('<div id="comment-list"></div>').insertBefore($("#comment-list-bottom"));
$("#comment-list").append(" <%= j render :partial => 'comments/comment', :object => @comment %> ");
// Notification.
humane.success("评论成功!");
// Clean up input field.
$("#new_comment > #content").val("");