$bar_length: 500px;
@import "mixins";

#moment_map {
	position:fixed;
	background-image: image-url("moments/bg.png");
	left:0px;
	top:0px;
	height:100%;
	width:100%;


	#container {
		width: 960px;
		height: 512px;
		margin: 30px auto 20px;

		#map-col {
			width: 659px;
			height: 512px;
			background: black;
			float: left;
			#map-canvas {
				width: 659px;
				height: 512px;
			}


			@include shadow-box; 
		}
	}
}
img.map-marker {
  width: 50px;
  border:2px solid white;
  -moz-box-shadow:0px 0px 3px #cfcfcf;
  -webkit-box-shadow:0px 0px 3px #cfcfcf;
  box-shadow:0px 0px 3px #cfcfcf;
}