<!--编辑推荐-->
<div class="row-fluid">
    <div class="span12">
        <div class="text-center block-title">
            <%= link_to "编辑推荐", controller:"weiboactive", action:"editorstory" -%>
        </div>
    </div>
</div>

<% unless @mobile == true %>

<%= createStory @moment, 4 %>

<% else %>

<%= createStory @moment, 2 %>

<% end %>