<% unless @mobile == true %>
<header class="header-pink">
    <div class="row-fluid">
        <div class="span12 desc">
            <img src="/assets/weiboactive/iphone-big.png" class="iphone-big">
            <div>
                <img src="/assets/weiboactive/vida.png" class="vida"/>
                <p style="font-size: 20px;">
                    用Vida微图记拍摄照片微电影，原创大奖等你拿！
                </p>
                <br>
                <p style="font-size: 15px; margin: 0px;">
                    Vida可能是最真实的照片微电影生活分享社区
                </p>
                <p style="font-size: 15px; margin: 0px;">
                    已有接近千万用户选择 Vida 通过照片分享真实生活
                </p>
                <p style="font-size: 15px; margin: 0px;">
                    现在加入，一起发现与分享生活之美
                </p>
                <br>
                <img src="/assets/weiboactive/code.png">
                <div class="app-download">
                    <a class="iphone_download" href="/d/iphone"></a>
                    <br>
                    <a class="android_download" href="/android_download"> </a>
                </div>
            </div>
        </div>
    </div>
</header>

<% else %>
<header class="header-pink">
    <div class="row-fluid">
        <div class="span12 desc">
            <p style="font-size: 20px;">
                用Vida微图记拍摄照片微电影，原创大奖等你拿！
            </p>
            <br>
            <p style="font-size: 15px; margin: 0px;">
                Vida可能是最真实的照片微电影生活分享社区
            </p>
            <p style="font-size: 15px; margin: 0px;">
                已有接近千万用户选择 Vida 通过照片分享真实生活
            </p>
            <p style="font-size: 15px; margin: 0px;">
                现在加入，一起发现与分享生活之美
            </p>
        </div>
    </div>
</header>
<% end %>
