<header class="header">
    <div class="row-fluid">
        <div class="span4">
            <div class="myprofile-container">
                <img alt="程莎莎" class="user-avatar" src="<%= user[ "avatar_file" ] %>">
                <div class="user-name">
                    <%= user[ :name ] %>
                </div>
                <span class="btn-yellow btn-large" href="/"> 原创排名 No.200 </span>
                <br><br>
                <span class="btn-cyanogen btn-large" href="/"> 原创排名 No.200 </span>
            </div>
        </div>
        <div class="span4">
            <div class="integral">
                0
            </div>
            <p class="p22-5" style="margin-bottom: 12px;">
                我的原创得分
            </p>
            <p class="p15" style="margin-bottom: 20px;">
                下载Vida微图记，上传照片做成微电影并添加“照片微电影大赛”Tag，原创得分+10
            </p>
            <p style="margin-bottom: 36px;">
                <a href="/">查看详情》</a>
            </p>
            <%= link_to "如何获得原创得分",
            {:controller => "weiboactive",:action => "rule_oa"},
            :class => "btn-yellow btn-large" %>
        </div>
        <div class="span3">
            <div class="integral">
                0
            </div>
            <p class="p22-5" style="margin-bottom: 12px;">
                我的分享得分
            </p>
            <p class="p15" style="margin-bottom: 20px;">
                下载Vida微图记，上传照片做成微电影并添加“照片微电影大赛”Tag，分享得分+10
            </p>
            <p style="margin-bottom: 18px;">
                <a href="/">查看详情》</a>
            </p>
            <%= link_to "如何获得分享得分",
            {:controller => "weiboactive",:action => "rule_share"},
            :class => "btn-cyanogen btn-large" %>
        </div>
    </div>
</header>
