<div class="row-fluid" id="hjmd-content">
    <div class="span6">
        <div class="placard">
            <div class="jifen">
                362
            </div>
            <div class="title">
                我的原创积分
            </div>
            <p>
                <a href="/" class="btn-yellow btn-large"> 获得积分 </a>
            </p>
        </div>
    </div>
    <div class="span6">
        <div class="placard">
            <div class="jifen">
                254
            </div>
            <div class="title">
                我的分享积分
            </div>
            <p>
                <a class="btn-yellow btn-large" href="#">获得积分</a>
            </p>
        </div>
    </div>
</div>
