<!-- Navbar ================================================== -->
<% unless user .nil? %>
<nav class="navbar navbar-weiboactive">
    <div class="container">
        <%= link_to raw('<img src="/assets/weiboactive/home.png">'), {:controller=>"weiboactive", :action=>"index"} %>
        <div class="nav-collapse in collapse" style="height: auto;">
            <ul class="nav">
                <li>
                    <%= link_to "领取Q币",
                    {:controller => "weiboactive",:action => "lottery"},
                    :class => "btn-yellow-small btn-login" %>
                </li>
                <li>
                    <%= link_to raw("<i class=\"icon-user\"></i> " + user[ :name ]),
                    {:controller => "weiboactive",:action => "myprofile"},
                    :class => "nav-btn" %>
                </li>
                <li class="nav-split">
                    |
                </li>
                <li>
                    <a href="/auth/logout" class="nav-btn">退出</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<% else -%>
<nav class="navbar navbar-weiboactive">
    <div class="container">
        <%= link_to raw('<img src="/assets/weiboactive/home.png">'), {:controller=>"weiboactive", :action=>"index"} %>
        <div class="nav-collapse in collapse" style="height: auto;">
            <ul class="nav">
                <li class="nav-label">
                    登入腾讯微博参赛
                </li>
                <li>
                    <a href="/auth/tqq" class="btn-blue-small btn-login"><i class="icon-user"></i> 登入</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<% end -%>