<div id="login_with" class="popup_container need_destroy">
    <% check = false -%>
    <%= form_tag( "fafadfadf" , { :remote => true , :style => "padding-top:15px;" } ) do %>
    <%= text_area_tag "content" , "我发现这个故事 ##{ params[ :name ] }# 很不错，特意分享 @Vida微达" , :style => "width: 98%; float: left; margin-bottom: 10px;height:50px;" %>
    <% end -%>
    <% unless check -%>
    <p class="list">
        您并没有设置分享选项,请下载唯达客户端并进行设置.
    </p>
    <% end -%>
</div>
