<!--热门作品-->
<div class="row-fluid">
    <div class="span12">
        <div class="text-center block-title">
            <%= link_to "热门作品", controller:"weiboactive", action:"topstory" -%>
        </div>
    </div>
</div>
<% unless @mobile == true %>

<%= createStory @moment1, 4 %>

<% else %>

<%= createStory @moment1, 2 %>

<% end %>