<div class="container wrapper">
    <%= render :partial => "nav", :locals => { :user => @cur_user } %>

    <!--所有热门作品-->
    <% unless @mobile == true %>
    <%= storyGallery @momentHot, "所有热门作品", 4 %>
    <% else %>
    <%= storyGallery @momentHot, "所有热门作品", 2 %>

    <% end %>
    <a href="javascript:void(0)" class="more-link">点击显示更多</a>

    <%= render :partial => "footer" %>
</div>
