<% content_for :title do %>
    抽奖
<% end %>

<!--抽奖-->
<div class="container wrapper">

    <div class="row-fluid">
        <div class="span12">
            <div class="text-center block-title">
                分享成功并参加抽奖
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <p style="font-size: 30px; color: #4d4d4d;">
                成功分享微电影，点下方链接查看微博
            </p>
            <br>
            <br>
            <a class="btn btn-blue btn-large" href="/weiboactive/top?id=1">查看微博</a>
            <hr>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <br>
            <br>
            <div style="position: relative; width: 475px; margin: 0px auto; max-width: 70%;">
                <img src="/assets/weiboactive/lottery1.png" style="width: 100%"/>
                <img src='/assets/weiboactive/g16924.png' id="clock" style="position: absolute; left: 0; top: 0;width: 100%;cursor: pointer;">
            </div>
            <br>
            <a class="btn btn-yellow btn-large" href="javascript:rotate()">抽奖赢Q币</a>
            <hr>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center" style="margin-bottom: 100px;">
            <p style="font-size: 30px; color: #4d4d4d;">
                恭喜抽中1Q币，我们会将兑换码发送到你填写的邮箱
            </p>
            <form>
                <input type="text" style="margin-top: 12px;"/>
                <button type="submit" class="btn">
                    提交
                </button>
            </form>
        </div>
    </div>

</div>
