<% content_for :title do %>
领取Q币
<% end %>
<!--抽奖-->
<div class="container wrapper">

    <div class="row-fluid">
        <div class="span12">
            <div class="text-center block-title">
                领取Q币
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12 text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th> 编号 </th>
                        <th> Q币 </th>
                        <th> 卡号 </th>
                        <th> 卡密码 </th>
                    </tr>
                </thead>
                <tbody>
                    <% @list_qq_coins.each_with_index do |a, i| %>
                    <tr class="success">
                        <td> <%= raw '<span class="badge badge-success">' + (i + 1).to_s + '</span>' %> </td>
                        <td> <%= a[:shuffle_result] %>Q币 </td>
                        <td> <%= a.qq_coin_code %> </td>
                        <td> <%= a.qq_coin_password %> </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
