<% content_for :title do %>
    规则说明
<% end %>

<!--规则说明-->
<div class="container wrapper">
    <%= render :partial => "nav", :locals => { :user => @cur_user } %>

    <%= render :partial => "header_03" %>

    <div class="row-fluid">
        <div class="span12">
            <div class="text-center block-title">
                规则说明
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <article class="article">
                <p style="font-size: 30px;">
                    参与方式
                </p>
                <p style="font-size: 17.5px;">
                    你可以通过两种不同的方法参与到比赛中来：
                </p>
                <div class="media">
                    <div class="media-body">
                        <br>
                        <img src="/assets/weiboactive/gift01.jpg" class="surround-img">
                        <div class="surround-content">
                            <br>
                            <p style="font-size: 22.5px; margin-bottom: 25px;">
                                方法一、制作自己的微电影——“原创达人奖”等你拿！
                            </p>
                            <p style="font-size: 17.5px;">
                                原创分数获得方式：
                            </p>
                            <p style="font-size: 17.5px;">
                                1、下载Vida微图记，上传照片做成微电影并添加“<span class="label badge-info">#照片微电影大赛</span>”Tag，原创得分<span class="label badge-important">+10</span>
                            </p>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/" class="btn btn-pink btn-large">下载Vida</a>
                            </p>
                            <p style="font-size: 17.5px;">
                                2、微电影被播放一次，原创得分<span class="label badge-important">+5</span>
                            </p>
                            <br>
                            <p style="font-size: 17.5px;">
                                奖项设置：
                            </p>
                            <p style="font-size: 17.5px; color: #f27149;">
                                总原创分数最高的用户获得价值人民币6万元的高端欧洲双人游一次
                            </p>
                            <p style="font-size: 17.5px; color: #f27149;">
                                每日原创分数最高的用户获得iPad mini 一台（30天共30台，每个用户限获奖一次）
                            </p>
                            <br>
                            <br>
                            <br>
                        </div>
                        <img src="/assets/weiboactive/gift02.jpg" class="surround-img">
                        <div class="surround-content">
                            <br>
                            <p style="font-size: 22.5px; margin-bottom: 25px;">
                                方法二、分享他人内容，手有余香——“分享达人奖”等你拿！
                            </p>
                            <p style="font-size: 17.5px;">
                                分享分数获得方式：
                            </p>
                            <p style="font-size: 17.5px;">
                                登录活动页面，发现精彩的原创微电影，并分享到各大社交网站。
                            </p>
                            <p style="font-size: 17.5px;">
                                1、分享一次，传播得分<span class="label badge-important">+1</span>
                            </p>
                            <p style="font-size: 17.5px;">
                                2、分享为微电影带来一次播放，传播得分<span class="label badge-important">+10</span>
                            </p>
                            <br>
                            <p style="font-size: 17.5px;">
                                奖项设置：
                            </p>
                            <p style="font-size: 17.5px; color: #f27149;">
                                总分享分数最高的用户获得价值人民币2万元的Cartier 卡地亚铂金戒指一个
                            </p>
                            <p style="font-size: 17.5px; color: #f27149;">
                                每日分享分数最高的用户获得Tiffany 银项链一条
                            </p>
                            <br>
                            <br>
                        </div>
                        <img src="/assets/weiboactive/gift03.jpg" class="surround-img">
                        <div class="surround-content">
                            <br>
                            <p style="font-size: 17.5px;">
                                只是打酱油路过的？
                            </p>
                            <p style="font-size: 17.5px;">
                                没关系！我们准备了大量的Q币等你来拿。
                            </p>
                            <p style="font-size: 17.5px;">
                                只要用腾讯微博登录活动页面，分享微电影到腾讯微博，就可以参加抽奖，获得Q
                                币。每分享一次即可获得一次抽奖机会哦！
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <%= render :partial => "footer" %>
</div>
