<div class="container wrapper">
    <%= render :partial => "nav", :locals => { :user => @cur_user } %>

    <%= render :partial => "header_rule" %>

    <%= render :partial => "rule" %>

    <%= render :partial => "footer" %>
</div>
