<li class="list">
	<a href='<%= "/users/" + followinglist[ "id" ] .to_s %>' class="avatar">
		<%= image_tag followinglist[ "avatar_file" ] %>
	</a>
	<%= link_to followinglist[ "name" ] , "/users/" + followinglist[ "id" ] .to_s , :class => "user_name" %>
<% if button -%>
	<%= render :partial => "widgets/followingbtn" , :locals => { :tag => 1 , :uid => followinglist[ "id" ] , :size => "btn_small"} %>
<% end -%>
	<div class="clearfix"></div>
</li>
