<div class="cover-pic"> <%= image_tag cover , :id => "cover-image" %> </div>
<script type="text/javascript">
	var cover_address = $( ".cover-pic" ) .find( "img" ) .eq( 0 ) .attr( "src" ) ;
	$( ".cover-pic" ) .css({
		"background" : "url("+cover_address+")" ,
		"background-attachment" : "fixed" ,
		"background-size" : "cover" ,
		"background-position" : "center" 
	}) ;
	/*
	$( ".blur" ) .blurjs( {
		source : ".cover-pic" ,
		radius : 5 
	} ) ;
	*/
</script>
<!--[if IE]>
<script type="text/javascript">
	$( ".cover-pic" ) .css({ "background":"none" });
	$( ".cover-pic" ) .find( "img" ) .css({ "display" : "block" }) ;
</script>
<![endif]-->