<div class="download-bar">
	<!--
	<a href="/d/iphone" class="btn_grey btn_big" style="padding-left:45px;">
		<%= image_tag "images/iphone_icon.png" , :alt => "" %>
		iPhone客户端下载 &nbsp
	</a>
	<a href="#" class="btn_grey btn_big" style="padding-left:55px;">
		<%= image_tag "images/android_icon.png" , :alt => "" %>
		Android客户端下载 &nbsp
	</a>
	-->
	<%= link_to image_tag( "icon/iphone_icon.png" ) + "iPhone客户端下载" + "&nbsp;&nbsp;" .html_safe , "/d/iphone" , :class => "btn_grey btn_big" , :style => "padding-left:45px;" %>
	<%= link_to image_tag( "icon/android_icon.png" ) + "Android客户端下载" + "&nbsp;&nbsp;" .html_safe , "/android_download" , :class => "btn_grey btn_big android" , :style => "padding-left:55px;" %>
	<div class="clearfix"> </div>
</div>
