<div class="download-bar">
	<a href="/d/iphone" class="btn_grey btn_big">
		<%= image_tag "images/iphone_icon.png" , :alt => "" %>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspiPhone客户端下载
	</a>
	<a href="#" class="btn_grey btn_big">
		<%= image_tag "images/android_icon.png" , :alt => "" %>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAndroid客户端下载
	</a>
	<div class="clearfix"> </div>
</div>
