<div class="download_bar">
	<% unless hide_title %>
	  <div class="download_icon"><%=image_tag("moments/download_icon.png")%></div>
  <% end %>
  <a class="download_iphone" href="/d/iphone" onClick="javascript: pageTracker._trackPageview('clicktrack-<%= hide_title ? "frontpage" : "moment-show" %>-iphone');" target="_blank"></a>
  <a class="download_android" href="/android_download" onClick="javascript: pageTracker._trackPageview('clicktrack-<%= hide_title ? "frontpage" : "moment-show" %>-android');" target="_blank"></a>
</div> 