<a class="btn_dark btn_middle" href=javascript:showFollowingDialog(<%="#{user[:id]},#{user[:count_followings]},#{user[:count_followers]}"%>) style="margin-left:10px">
	<%= image_tag "images/icon_follow.png" , :alt => "" %>
</a>