<div id="header">
	<div id="header_content">
		<%= link_to :root, :id => "home-link" do %>
			<%= image_tag "moments/details/header_logo.jpg", :id => :logo %>
		<% end %>
		<% unless session[:current_user] %>
			<%= render :partial => "widgets/login" %>
		<% else %>
			<%= render :partial => "widgets/profile", :locals => {:current_user => session[:current_user] } %>
		<% end %>
	</div>
</div>