<div id="login">			
	<ul>
		<li>
			<font>选择以下账号登入:</font>
		</li>
		<li>
			<%= link_to "", "/auth/tsina", :id => "login_sian" %>
		</li>
		<li>
			<%= link_to "", "/auth/douban", :class => "bar", :id => "login_douban" %>
		</li>
		<!-- <li>
			<a id="login_renren" href="#">
				<span>人人登入</span>
			</a>
		</li> -->
		<li>
			<%= link_to "", "/auth/tqq", :id => "login_tencent" %>
		</li>
		<!-- <li>
			<a id="login_kaixin" href="#">
				<span>开心登入</span>
			</a>
		</li> -->
	</ul>
</div>