<% hmap = google_image_tag activities %>
<% if hmap %>
<div class="side-row-box-top"></div>
<div class="side-row-box">
	 <%= link_to map_moment_url(moment_id), :target => "_blank" do %>
		 <%= hmap %> 
	 <% end %>
</div>
<div class="side-row-box-bottom"></div>
<% end %>
