 <div id="map" class="container_right">
 	<div class="top"></div>
 	<div class="content">
 		<img src="img/map_test.jpg">
 		<img id="view_big_map" src="img/view_big_map.png">
 	</div>
 	<div class="bottom"></div>
 </div>