<div class="side-row-box-top"></div>

<div class="side-row-box  multi-col-box">
    <div class="box-col right-border">
        <h1><%= moment['items_count'] %></h1>
        <h2>照片/视频</h2>
    </div>
    <div class="box-col right-border">
        <h1><%= moment['participators_count']  %></h1>
        <h2>参与人数</h2>
    </div>
    <div class="box-col">
        <h1> <%= moment['likes_count'] %> </h1>
        <h2>喜欢数</h2>
    </div>
    <div class="clearfix"></div>
</div>

<div class="side-row-box-bottom"></div>
