<div class="side-row-box-top"></div>

<div class="side-row-box" id="moment-participators">
	<div class="box-title">创建者</div>
	<div class="box-content">
		<%= avatar_tag moment["user"] %>
		<div class="clearfix"></div>
	</div>
</div>

<div class="side-row-box-bottom"></div>
