<div class="side-row-box-top"></div>

<div class="side-row-box" id="moment-participators">
	<div class="box-title">创建者</div>
	<div class="box-content">
		<%= image_tag moment["user"]['avatar_file'], :alt => moment['user']['name'] %>
	</div>
</div>

<div class="side-row-box-bottom"></div>
