<div class="image_box">
	<%= link_to image_tag( "empty.png" , "data-original" => pic[ "photo" ] [ "url_m" ] , :class => "lazy" , 
		:cwidth => pic[ "photo" ] [ "width" ] , :cheight => pic[ "photo" ] [ "height" ] ) , 
		"/moments/#{ pic[ 'moment_id' ] }#activity#{ pic[ 'id' ] }" , :class => "mlimage" %>
</div>
