<div id="account">
	<div class="user_avatar">
		<%= avatar_tag current_user, :shadow => true %>
	</div>
	<ul>
		<li>
			<%= link_to user_url(current_user[:id]) do %>
				<%= current_user[:name] %>
			<% end %>
		</li>
		<li>
			<a>|</a>
		</li>
		<li>
			<%= link_to("退出", "/auth/logout", :id => "current_user_logout")  %>
		</li>
	</ul>
</div>