<% x = 0 -%>
<div class="star-user-row" style="margin-top:10px;">
	<%= render :partial => "widgets/staruser" , :object => stars , :locals => { :type => "big" , :width => wb , :text => "星用户" } %>
	<%= render :partial => "widgets/staruser" , :object => recommended[ 0 ] , :locals => { :type => "big" , :width => wb , :text => "推荐用户" } %>
	<div class="clearfix"> </div>
</div>
<% for i in 0..( ( count - 1 ) / unit ) -%>
<% break if recommended .length < i * 3 + 2 -%>
<div class="star-user-row" style="margin-top:20px;">
	<%= render :partial => "widgets/staruser" , :collection => recommended[ i * 3 + 1 , unit ] , :locals => { :type => "normal" , :width => wn , :text => nil } %>
	<div class="clearfix"> </div>
</div>
<% end -%>