<div class="side-row-box" id="thumbnails">
	<div class="box-title"> <%= moment['data']['items_count'] %> </div>
	<div class="box-content">
		<% moment["data"]['items'].each do |e| %>
			<% e.stringify_keys! %>
			<%= link_to activity_url(e['id']) do  %>
				<%= image_tag e["photo"]['url_s'], :class => "box-thumbnails" %>
			<% end %>
		<% end %>

		<div class="pagination">
			<%= vida_pagination moment_url(moment['data']['id']), moment['page_count'], moment['current_page'] , {:remote => true, :page_size => 4, :page_padding => 1} %>		
		</div>
		<div class="clearfix"></div>
	</div>
</div>