<div class="side-row-box" id="thumbnails">
	<div class="box-title"> <%= moment['data']['items_count'] %> </div>
	<div class="box-content">
		<% moment["data"]['items'].each do |e| %>
			<% e.stringify_keys! %>
			<%= link_to activity_url(e['id']), :ref => e['id'], :class => "thumbnail-item" do  %>
				<%= image_tag e["photo"]['url_s'], :class => "box-thumbnails" %>
			<% end %>
		<% end %>


		<% if moment['page_count'].to_i > 1 %>
		<div class="pagination">
			<%= vida_pagination moment_url(moment['data']['id']), moment['page_count'], moment['current_page'] , {:remote => true, :page_size => 4, :page_padding => 2.5} %>		
		</div>
		<% end %>
		<div class="clearfix"></div>
	</div>
</div>


<script type="text/javascript">
	$(".prev_page, .page_number, .next_page").click(function () {
		var mask = $('<div class="spin-mask" style="position:absolute; width: 100%; height: 100%; background-color: white; opacity: 0.8;"> </div>');
		$(this).parents(".box-content").css('position', 'relative').prepend(mask);
		var opts = {
		  lines: 10,
		  length: 9,
		  width: 4,
		  radius: 6,
		  color: '#333',
		  speed: 1,
		  trail: 54,
		  shadow: false,
		  hwaccel: true,
		  className: 'spinner',
		  zIndex: 2e9, 
		  top: 'auto', 
		  left: 'auto' 
		};
		mask.spin(opts);
	})
</script>