.comments-list-container {
	width: 100%;
}

form.comment-form-container {
	padding: 16px;
	border-top:1px solid #ffffff;

	input.comment {
		float: left;
		width: 90%;
		padding-top: 1px;
	}
}

.one_comment {
	&:hover{
		background-color: #EEEEEE ;
	}
}
