.user-story {
	width: 100%;
	padding-top: 15px;
	float: left;
	position: relative;
	border-bottom: 1px solid #D2CFCB;
	border-top: 1px solid white;

	.user-story-head {
		width: 100%;
		clear: both;
		margin: 0px auto;
		padding-left: 5px;

		.header-pic {
			float: left;
		}

		.header-title {
			float: left;
			width: 80%;
		}

		a.font0 {
			font-size: 25px;
			color: gray;
			float: left;
			display: block;
			&:hover{ text-decoration: underline; }
		}

		a.font1 {
			width: 100%;
			display: blcok;
			font-size: 15px;
			color: black;
			margin-top: 5px;
			&:hover{ text-decoration: underline; }
			float: left;
		}

		a.font2 {
			display: blcok;
			font-size: 12px;
			color: #B3ADA6;
			margin-top: 5px;
			&:hover{ text-decoration: underline; }
			float: left;
		}

		a.btn_round {
			float: right;
		}
	}

	.photo-row {
		margin: 15px 0px; 
		width: 100%;
		position: relative;

		.thumbnail {
			&:first-child{ margin-left: 0px; }
			float: left;
			margin-left: 10px;

			.thumb {
				background: white url("/assets/images/loading_photo.png") no-repeat scroll center
			}
		}
	}

	.show-pic-s {
		float: left;
		width: 245px;
		height: 245px;
		margin: 10px 0px 10px 10px;
		overflow: hidden;
		position: relative;
	}

	.show-pic-m {
		float: left;
		width: 500px;
		height: 245px;
		margin: 10px 0px 10px 10px;
		overflow: hidden;
		position: relative;
	}

	.show-pic-l {
		float: left;
		width: 755px;
		height: 245px;
		margin: 10px 0px 10px 10px;
		overflow: hidden;
		position: relative;
	}
}

p.user_name {
	a {
		&:hover{ text-decoration: underline; }
	}
}

.one-pic {
	width: 98%;
	padding: 5px;
	margin: 30px 0px;
	position: relative;
	display: none;

	.pic-div {
		width: 100%;
		float: left;
		position: relative;
		overflow: hidden;
		background-color: white;
		brder: 1px solid gray;

		img.photo {
			display: block;
			max-width: 100%;
			min-width: 100%;
		}

		img.user-avatar {
			display: block;
			float: left;
			width: 40px;
			height: 40px;
			overflow: hidden;
			max-width: 40px;
			min-width: 40px;
			margin: 18px;
		}

		.intro-part {
			width: 70%;
			float: left;

			p.photodes-font1 { 
				color: black; 			
				width: 100%;
				margin-top: 22px;
			}

			p.photodes-font2 { 
				width: 100%;
				color: gray; 
				margin: 5px 0px;
			}
		}

	}

	.like-commend-button {
		float: right;
		margin-top: 10px;

		.like-button {
			padding: 5px 10px;
			border: 2px solid gray;
			color: gray;
			margin: auto 10px;
		}
	}
}