#moment-show-page {
	width: 100%;

	#main-block {
		width: 450px;
		margin: 0px auto;
		position: relative;
		top: -240px;

		#main-block-header {
			width: 100%;
			margin-bottom: 5px;

			#download-place {
				width: 90%;
				float: left;
				padding: 10px 20px 20px;
				background-color: rgba(0,0,0,0.3);
				text-indent: 0em;
				line-height: 30px;
				border-radius: 8px;
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;

				p.font1 {
					display: inline;
					font-size: 16px;
					color: rgb(255,255,255);
					text-shadow: black 0.1em 0.1em 0.2em;
				}

				p.red_font {
					display: inline;
					color: rgb(255,0,0);
					font-size: 16px;
					text-shadow: black 0.1em 0.1em 0.2em;
				}

				.download-bar {
					width: 100%px;
					float: left;
					line-height: 18px;
					margin-top: 10px;

	      			a {
	      				&.android { margin-left: 15px; }
	        			float: left;
	        			margin-right: 5px;
	        		}
	        	}

			}

			#download-place-blank {
				width: 90%;
				height: 145px;
				float: left;
				font-size: 20px;
				border-radius: 8px;
				background: none;
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;
			}

			#share-button {
				float: right;
				margin-top:20px;
				padding: 15px;
				background-color: rgba(0,0,0,0.7);
				color: white;
				font-size: 20px;
			}

			#title-place {
				width: 70%;
				float: left;
				margin-top: 20px;
				margin-left: 10px;
				color: white;

				h1 {
					display: block;
					margin-bottom: 5px;
					color: white;
					text-shadow:1px 1px gray;
					font-size: 30px;
					line-height: 35px;
				}

				p {
					display: block;
					color: white;
					text-shadow:1px 1px gray;
					text-size: 15px;
				}
			}
		}
		
		#story_info {
		}

		#show-map {
			margin-bottom: 30px;
			width: 100%;
			height: 400px;
			background-color: white;
		}

		#pic-block {
			width: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		#comment-block {
			width: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

#activity_detail {
	display: none;
	position: absolute;	
	background-color: rgba(0,0,0,0.8);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 256;

	#activity_detail_img {
		position: relative;
	}

	#my_video_1 {
		position: relative;
	}

	#map {
		position: relative;
		width: 800px;
		height: 600px;
	}
}

#share_detail {
	display: none;
	position: absolute;	
	background-color: rgba(0,0,0,0.6);
	top: 0px;
	left: 0px;
	z-index: 256;

	#login_with {
		display: block;

		form {
			display: none;
		}
	}
}

#backtop_btn {
	width: 70px;
	height: 70px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;	
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 330px;
	right: 330px;
	text-align: center;
	font-size: 45px;
}
