@mixin all_background_rgba( $r , $g , $b , $a ) {
	background-color: rgb( $r , $g , $b ) ;
	background-color: rgba( $r , $g , $b , $a ) ;
	*background-color: rgb( $r , $g , $b ) ;
	filter: alpha(opacity = $a * 100); /* required for opacity to work in IE */
}

#moment-show-page {
	width: 100%;

	#main-block {
		width: 450px;
		margin: -225px auto 0;
		//*top: -225px;
		_top: -225px;
		position: relative;

		#main-block-header {
			width: 100%;
			margin-bottom: 5px;

			#slideshow_entrance {
				display: block;
				text-align: center;
				width: 100%;
				margin-top: 20px;
				margin-bottom: 30px;

				.entrance_img {
					display: inline;
				}

				.entrance_text {
					margin-top: 10px;
					color: white;
				}
			}

			#download-place {
				width: 90%;
				float: left;
				padding: 10px 20px 20px;
				background-color: rgba(0,0,0,0.3);
				text-indent: 0em;
				line-height: 30px;
				border-radius: 8px;
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;

				p.font1 {
					display: inline;
					font-size: 16px;
					color: rgb(255,255,255);
					text-shadow: black 0.1em 0.1em 0.2em;
				}

				p.red_font {
					display: inline;
					color: rgb(255,0,0);
					font-size: 16px;
					text-shadow: black 0.1em 0.1em 0.2em;
				}

				.download-bar {
					width: 100%px;
					float: left;
					line-height: 18px;
					margin-top: 10px;

	      			a {
	      				&.android { margin-left: 15px; }
	        			float: left;
	        			margin-right: 5px;
	        		}
	        	}

			}

			#download-place-blank {
				width: 90%;
				height: 145px;
				float: left;
				font-size: 20px;
				border-radius: 8px;
				background: none;
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;
			}

			#share-button {
				float: right;
				margin-top:20px;
				padding: 15px;
				background-color: rgba(0,0,0,0.7);
				color: white;
				font-size: 20px;
			}

			#title-place {
				width: 68%;
				float: left;
				margin-top: 20px;
				margin-left: 10px;
				color: white;

				h1 {
					display: block;
					margin-bottom: 5px;
					color: white;
					text-shadow:1px 1px rgba(0,0,0,.5);
					font-size: 20px;
					max-width: 100%;
					word-wrap: break-word;
				}

				p {
					display: block;
					color: white;
					text-shadow:1px 1px gray;
					text-size: 15px;
				}
			}

			#vclick {
				padding-left: 45px;
				margin-top: 17px;

				img {
					height: 20px;
					width: 20px;
					margin-top: 12px;
					margin-left: 12px;
				}
			}
		}
		
		#story_info {
		}

		#show-map {
			margin-bottom: 30px;
			width: 100%;
			height: 400px;
			background-color: white;
		}

		#pic-block {
			width: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		#comment-block {
			width: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

$back_white : #f4f4f4;
$font_grey : #77706f;

.story_container {
	background-color:$back_white;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;

	box-shadow:0px 1px 6px rgba(0,0,0,.5);
	-moz-box-shadow:0px 1px 6px rgba(0,0,0,.5);
	-webkit-box-shadow:0px 1px 6px rgba(0,0,0,.5);

	width:450px;
	position:relative;
	overflow: hidden;

	.info_container {
		border-top:1px solid #ffffff;
		border-bottom:1px solid #dddddd;
		padding:16px;
		clear: both;

		&:first-child { border-top: none ; }
		&:last-child { border-bottom: none ; }

		p {
			font-size:14px;
			text-shadow:0px 2px 0px rgba(255,255,255,1);
			padding-left:30px;
		}

		#story_description {
			background:image-url("icon/icon_description.png") no-repeat left top;
		}

		#location_list {
			background:image-url("icon/icon_map.png") no-repeat left top;
		}

		#map {
			height:308px;
			width:418px;
			overflow:hidden;
			margin-top:15px;
			border:1px solid $font_grey;
			border-radius: 8px;
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;

			box-shadow:0px 1px 0px rgba(255,255,255,.5);
			-moz-box-shadow:0px 1px 0px rgba(255,255,255,.5);
			-webkit-box-shadow:0px 1px 0px rgba(255,255,255,.5);

			#google_map {
				height:auto;
				width:100%;				
			}
		}

		.avatar {
			float: left;
		}

		.comment_container {
			float: left;
			padding:4px 0px 0px 10px;
			width:353px;
			position:relative;

			p {
				padding:0px;
			}

			.photo_description {
				color:$font_grey;
				word-wrap: break-word;
				overflow: hidden;
				float: left;
				width:100%;
			}

			.timer {
				top:5px;
				right:0px;
			}

			.user_name {
				font-size: 14px;
				float: left;
			}
		}

		.join {
			height:44px;
			width:44px;
			float: left;
			margin:0px 8px 10px 0px;
			position:relative;

			.join_icon {
				position:absolute;
				bottom:0px;
				right:0px;
			}
		}
	}

	.photo_container {
		overflow:hidden;
		border-top-left-radius:12px;
		border-top-right-radius:12px;
		width: 100%;
		position: relative;

		img {
			height:auto;
			width:100%;
		}

		.video_btn {
			position:absolute; 
			bottom:5px; 
			left:5px; 
			width: 82px;
		}

		.activity_other_info {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			padding-left: 5px;
			padding-bottom: 5px;
			z-index: 0;
			//@include all_background_rgba( 0 , 0 , 0 , 0.5 ) ;

			.black_cover {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				@include all_background_rgba( 0 , 0 , 0 , 0.5 ) ;
				z-index: -1;
			}
		}
	}

	#join_number {
		color:$font_grey;
		font-size:12px;
		padding:0px 0px 10px 0px;
	}
}

#story_info {
	position:relative;
	padding-top:7px;
	.arrow {
		margin-left:28px;
		position:absolute;
		top:1px;
		z-index: 2;
		transform:rotate(180deg);
		-ms-transform:rotate(180deg); /* IE 9 */
		-moz-transform:rotate(180deg); /* Firefox */
		-webkit-transform:rotate(180deg); /* Safari and Chrome */
		-o-transform:rotate(180deg); /* Opera */
	}
}


#theatre {
	display: none;
	position: absolute;
	@include all_background_rgba(0,0,0,0.8);
	top: 0px;
	z-index: 256;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 20px;

	#box_container {
		position: relative;
		left: 50%;
		float: left;
	}

	#image_div {
		border: 10px white solid;
		position: relative;
		overflow: hidden;
		left: -50%;
		width: auto;

		#activity_detail_img {
			position: relative;
		}

		#photo_black_cover {
			background:rgba(0,0,0,.7) image-url("images/loading_photo.png") no-repeat center center;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
		}

		#btn_part {
			position: absolute;
			bottom: 35%;
			left: 50%;

			.btn {
				width: 70px;
				height: 70px;
				float: left;
				margin-left: 40px;
				&:first-child { margin-left: 0px; }
			}

			.has_audio { background:image-url("audio/audio.png") no-repeat center center; }
			.has_video { background:image-url("audio/play.png") no-repeat center center; }
		}

		#audio_playing_block {
			display: none;
			position: absolute;
			width: 139px;
			height: 139px;
			background:image-url("audio/playing.png") no-repeat center center; 
			bottom: 50%;
			left: 50%;
			margin-left: -70px;

			#duration_time {
				position: absolute;
				width: 50px;
				color: white ;
				bottom: 14px;
				left: 50%;
				margin-left: -25px;
				text-align: center;
				font-size: 20px;
			}
		}
	}

	.my_video {
		border: 10px white solid;
		position: relative;
	}

	#map {
		position: absolute;
		width: 60%;
		height: 600px;
		left: 50%;
		top: 50px;
	}

	.theatre_blank {
		width: 100%;
		height: 30px;
		position: relative;
	}

	#close_button {
		display: none;
		width: 30px;
		height: 30px;
		position: absolute;
		right: 0;
		top: 0;
		background:white image-url("icon/icon_close.png") no-repeat left center;
	}
}

#share_detail {
	display: none;
	position: absolute;	
	background-color: rgba(0,0,0,0.6);
	top: 0px;
	left: 0px;
	z-index: 256;

	#login_with {
		display: block;

		form {
			display: none;
		}
	}
}

#backtop_btn {
	width: 70px;
	height: 70px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;	
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 330px;
	right: 330px;
	text-align: center;
	font-size: 45px;
}

.audio_block {
	float: left;
	margin: 5px 0;
	width: 100%;

	.audio_button {
		background:image-url("audio/volume_bubble_white.png") no-repeat center center;
		float: left;
		height: 40px;
		width: 96px;

		img.playbtn {
			height: 22px;
			margin-top: 9px;
			margin-left: 17px;
			float: left;
		}

		p.audio_duration {
			margin-top: 11px;
			margin-right: 10px;
			float: right;
			display: inline;
		}
	}

	.audio_button_black {
		background:image-url("audio/volume_bubble_black.png") no-repeat center center;
		float: left;
		height: 40px;
		width: 96px;
		margin-left: -96px;
		display: none;

		.playingbtn {
			height: 36px;
			margin-left: 10px;
			margin-top: 2px;
		}
	}
}
