#feed_container {
	background: image-url( "line.png" ) repeat-y scroll center;
	position: relative;
	margin-top: 30px;
	padding-top: 30px;
	width: 100%;

	.header_icon {
		position: absolute;
		left: 50%;
		top: -23px;
		margin-left: -12px;
	}

	#feeds_title {
		position: absolute;
		display: block;
		left: 50%;
		top: -40px;
		margin-left: -20px;
		font-size: 20px;
		color: white;
		text-shadow:1px 1px 0px rgba(0,0,0,.8);
	}
}

.feed_left {
	float: left;
	clear: left;
}

.feed_right {
	float: right;
	clear: right;
}

.empty_feed{
	width: 370px;
	height: 21px;
	clear: both;
}

.feed {
	margin-bottom: 10px;

	.feeds_icon {
		position: absolute;
		display: none;
		top: 25px;
	}

	.feeds_icon_right {
		right: -92px;
	}

	.feeds_icon_left {
		left: -92px;
	}

	.mlarrow {
		display: none;
		position: absolute;
		top: 25px;
	}

	.mlarrow_right {
		right: -13px;
	}

	.mlarrow_left {
		left: -13px;
	}
}

.mlcontainer {
	float: left;
	position: relative;

	.mlbox {
		background-color:white;
		border-radius:8px;
		-moz-border-radius:8px; /* Firefox 3.6 and earlier */
		box-shadow: 0px 1px 3px #888888;
		padding:8px;
		position: relative;
		width: 354px;

		.image_container {
			width: 100%;

			.image_container_row {
				width: 100%;
			}
		}

		.image_box {
			overflow: hidden;
			position: relative;
			float: left;
			width: 100%;
			height: 100%;

			.mlimage {
				display:block;
			}

			.has_audio_box {
				position: absolute;
				bottom: 2px;
				right: 2px;
				height: 25px;
			}

			.has_video_box {
				position: absolute;
				height: 40px;
				top: 50%;
				left: 50%;
				margin-top: -20px;
				margin-left: -20px;
			}
		}

		.float_likes {
			position: absolute;
			top: 14px;
			right: 14px;
			background:rgba(0,0,0,.7) image-url("icon/icon_mllike2.png") left center no-repeat;
			display: block;
			z-index: 10;
			height: 20px;
			padding-left: 25px;
			color: white;
			font-size: 14px;

			border:10px solid rgba(0,0,0,0);
			border-radius: 20px;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
		}

		.float_avatar {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 40px;
			width: 40px;
			z-index: 10;

			border: 8px solid white;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
		}

		.float_datebox {
			position: absolute;
			top: 0px;
			left: 0px;
			height:40px;
			width:40px;
			z-index: 10;

			border: 2px solid white;		
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			overflow:hidden;

			.month {
				width: 100%;
				float: left;

				background-color: crimson ; 
				font-size: 10px ;
				color: white;
				text-align: center ;
			}

			.day {
				width: 100%;
				height: 36px;
				float: left;

				background-color: white;
				font-size: 26px;
				color: black;
				text-align: center;
			}
		}

		.image_box_big {
			position:absolute;
			height:213px;
			width:212px;
		}

		.image_box_middle {
			position:absolute;
			height:213px;
			right:8px;
			width:141px;
		}

		.image_box_small {
			top: 115px;
			position:absolute;
			height:106px;
			right:8px;
			width:141px;
		}
	}

	.mlinfo {
		width: 354px;
		margin: 5px 0;

		.mltitle {
			float:left;
			padding-top:8px;
			max-width: 100%;
			word-wrap: break-word;
		}

		.mldata {
			float: right;
			padding-top:8px;

			p {
				float: left;
				margin-left: 10px;
				padding-left: 17px;
			}
		}

		p {
			color:#77706f;
			font-size:14px;
			text-shadow: 0px 2px 0px #ffffff;
		}
	}

	.mlcomment {
		.mlcomment_image_left {
			width: 40px;
			height: 40px;
			border: none;
			float: left;
			margin: 5px 0;

			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}

		.mlcomment_image_right {
			width: 50px;
			height: 50px;
			border: none;
			float: left;
		}

		.mlcomment_content {
			width: 244px;
			float: left;
			margin: 5px 10px;
			font-size: 14px;
			color: #4d4d4d;

			span {
				color: #b9b2aa;
			}

			p.mltime {
				float: left;
				padding-left: 17px;
				margin-top: 8px;
			}
		}
	}

	.mllike {
		.mllike_image_left {
			width: 40px;
			height: 40px;
			border: none;
			float: left;
			margin: 5px 0;
			margin-right: 8px;

			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}

		.mllike_image_right {
			width: 50px;
			height: 50px;
			border: none;
			float: right;
			margin-left: 8px;
		}

		.mllike_content {
			width: 224px;
			float: left;
			margin: 0px 10px;
			font-size: 14px;
			color: #4d4d4d;

			span {
				color: #b9b2aa;
			}

			p.mltime {
				float: left;
				padding-left: 17px;
				margin-top: 8px;
			}
		}
	}

	.mllike {
		background:image-url("icon/icon_mllike2.png") left center no-repeat;
	}

	.mlnumber {
		background:image-url("icon/icon_mlnumber2.png") left center no-repeat;
	}

	.mltime {
		background:image-url("icon/icon_mltime2.png") left center no-repeat;
	}
}
