@mixin all_border_radius( $radius ) {
	border-radius: $radius ;
	-moz-border-radius: $radius ;
	-webkit-border-radius: $radius ;	
}
$text_color: #B9B2AA ;
$content_color : #6d6e71 ;
$info_color: #a6a099 ;

#feed_container {
	background: image-url( "line.png" ) repeat-y scroll center;
	position: relative;
	margin-top: 30px;
	padding-top: 15px;
	width: 100%;

	.header_icon {
		position: absolute;
		left: 50%;
		top: -23px;
		margin-left: -12px;
	}

	#feeds_title {
		position: absolute;
		display: block;
		left: 50%;
		top: -38px;
		margin-left: -20px;
		font-size: 20px;
		color: white;
		text-shadow:0px 2px 0px rgba(0,0,0,.5);
	}
}

.feed_left {
	float: left;
	clear: left;
}

.feed_right {
	float: right;
	clear: right;
}

.empty_feed{
	width: 370px;
	height: 30px;
}

.feed {
	margin-bottom: 15px;

	.feeds_icon {
		position: absolute;
		display: none;
		top: 25px;
	}

	.feeds_icon_right {
		right: -67px;
	}

	.feeds_icon_left {
		left: -67px;
	}

	.mlarrow {
		display: none;
		position: absolute;
		top: 25px;
	}

	.mlarrow_right {
		right: -13px;
	}

	.mlarrow_left {
		left: -13px;
	}
}

.mlcontainer {
	float: left;
	position: relative;

	.mlbox {
		@include all_border_radius( 6px ) ;
		background-color:white;
		box-shadow: 0px 1px 3px #888888;
		padding:5px;
		position: relative;
		width: 360px;

		.image_container {
			width: 100%;

			.image_container_row {
				width: 100%;
			}
		}

		.image_box {
			overflow: hidden;
			position: relative;
			float: left;
			width: 100%;
			height: 100%;

			.mlimage {
				display:block;
			}

			.has_audio_box {
				position: absolute;
				bottom: 2px;
				right: 2px;
				height: 25px;
			}

			.has_video_box {
				position: absolute;
				height: 40px;
				top: 50%;
				left: 50%;
				margin-top: -20px;
				margin-left: -20px;
			}
		}

		.float_likes {
			position: absolute;
			top: 14px;
			right: 14px;
			display: block;
			z-index: 10;
			height: 20px;
			padding-left: 25px;
			color: white;
			font-size: 14px;

			border:10px solid rgba(0,0,0,0);
			*border:10px solid #000000; // hack for ie7
			@include all_border_radius( 20px ) ;
		}
		.unlike {
			background:rgba(0,0,0,.7) image-url("icon/icon_like_off.png") left center no-repeat;
			*background:#000000 image-url("icon/icon_like_off.png") left center no-repeat;
		}
		.liked {
			background:rgba(0,0,0,.7) image-url("icon/icon_timeline_liked.png") left center no-repeat;
			*background:#000000 image-url("icon/icon_timeline_liked.png") left center no-repeat;
		}

		.float_avatar {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 40px;
			width: 40px;
			z-index: 10;

			border: 5px solid white;
			@include all_border_radius( 6px ) ;
		}

		.float_datebox {
			position: absolute;
			top: 0px;
			left: 0px;
			height:40px;
			width:40px;
			z-index: 10;

			border: 2px solid white;
			@include all_border_radius( 10px ) ;
			overflow:hidden;

			.month {
				width: 100%;
				float: left;

				background-color: crimson ; 
				font-size: 10px ;
				color: white;
				text-align: center ;
			}

			.day {
				width: 100%;
				height: 36px;
				float: left;

				background-color: white;
				font-size: 26px;
				color: black;
				text-align: center;
			}
		}

		.image_box_big {
			position:absolute;
			height:213px;
			width:212px;
		}

		.image_box_middle {
			position:absolute;
			height:213px;
			right:8px;
			width:141px;
		}

		.image_box_small {
			top: 115px;
			position:absolute;
			height:106px;
			right:8px;
			width:141px;
		}
	}

	.mlinfo {
		width: auto;
		margin: 5px 10px 5px 5px;
		padding-left: 50px;

		.gotoslideshow {
			float: left;
			height: 45px;
			width: 45px;
			position: absolute;
			bottom: 10px;
			left: 10px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.mltitle {
			float:left;
			padding-top:8px;
			max-width: 100%;
			word-wrap: break-word;
		}

		.mldata {
			float: right;
			padding-top:8px;

			p {
				float: left;
				margin-left: 10px;
				padding-left: 17px;
			}
		}

		p {
			color: $info_color ;
			font-size:14px;
			text-shadow: 0px 1px 2px rgba(0,0,0,.1);
		}
	}

	.mlcommentlike {
		.mlcommentlike_image_left {
			width: 40px;
			height: 40px;
			border: none;
			float: left;
			margin: 5px 5px 5px 0;

			@include all_border_radius( 8px ) ;
		}

		.mlcommentlike_icon {
			margin: 17px 2px 0;
			float: left;
		}

		.mlcommentlike_image_right {
			width: 50px;
			height: 50px;
			border: none;
			float: right;
			margin-left: 5px;
		}

		.mlcommentlike_content {
			width: 225px;
			float: left;
			margin: 5px;
			font-size: 14px;
			color: $content_color ;

			span {
				color: $text_color ;
			}

			p.mltime {
				float: left;
				padding-left: 17px;
				margin-top: 12px;
				font-size: 12px;
			}
		}
	}

	.mllike {
		background:image-url("icon/icon_mllike2.png") left center no-repeat;
	}

	.mlnumber {
		background:image-url("icon/icon_mlnumber2.png") left center no-repeat;
	}

	.mltime {
		background:image-url("icon/icon_mltime2.png") left center no-repeat;
	}
}
