#feed_container {
	background: image-url( "line.png" ) repeat-y scroll center;
	position: relative;
	margin-top: 30px;
	width: 100%;

	.header_icon {
		position: absolute;
		left: 50%;
		top: -23px;
		margin-left: -12px;
	}
}

.feed {
	width: 100%;
	float: left;
	margin-bottom: 20px ;

	.feed_left {
		float: left;
	}

	.feed_right {
		float: right;
	}

	.avatar {
		height:50px;
		width:50px;
		margin: 45px 4px 0px;
		border: 2px solid white;

		box-shadow:0px 1px 6px gray;
		-moz-box-shadow:0px 1px 6px gray;
		-webkit-box-shadow:0px 1px 6px gray;
	}

	.datebox {
		behavior: asset-url("PIE.htc",htc);
		height:50px;
		width:50px;
		margin: 45px 5px 0px;

		border: 1px solid white;		
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		overflow:hidden;

		box-shadow:0px 1px 6px gray;
		-moz-box-shadow:0px 1px 6px gray;
		-webkit-box-shadow:0px 1px 6px gray;

		.month {
			width: 100%;
			float: left;

			background-color: crimson ; 
			font-size: 12px ;
			color: white;
			text-align: center ;
		}

		.day {
			width: 100%;
			height: 36px;
			float: left;

			background-color: white;
			font-size: 28px;
			color: black;
			text-align: center;
		}
	}
}

.mlcontainer {
	float: left;
	padding:0px 13px;
	position: relative;

	.mlbox {
		background-color:#F4F4F4;
		border-radius:8px;
		-moz-border-radius:8px; /* Firefox 3.6 and earlier */
		box-shadow: 0px 1px 3px #888888;
		padding:8px 8px 0px 8px;
		position: relative;
		width:354px;

		.image_box {
			overflow: hidden;

			.mlimage {
				display:block;
				height:100%;
				width:100%;
			}
		}

		.image_box_big {
			position:absolute;
			height:213px;
			width:212px;
		}

		.image_box_middle {
			position:absolute;
			height:213px;
			right:8px;
			width:141px;
		}

		.image_box_small {
			top: 115px;
			position:absolute;
			height:106px;
			right:8px;
			width:141px;
		}
	}

	.mlinfo {
		height: 39px;
		width: 354px;

		.mltitle {
			float:left;
			padding-top:8px;
		}

		.mldata {
			float: right;
			padding-top:8px;

			p {
				float: left;
				margin-left: 10px;
				padding-left: 17px;
			}

			.mllike {
				background:image-url("icon/icon_mllike2.png") left center no-repeat;
			}

			.mlnumber {
				background:image-url("icon/icon_mlnumber2.png") left center no-repeat;
			}

			.mltime {
				background:image-url("icon/icon_mltime2.png") left center no-repeat;
			}
		}

		p {
			color:#77706f;
			font-size:14px;
			text-shadow: 0px 2px 0px #ffffff;
		}
	}

	.mlarrow {
		position: absolute;
		top: 54px;
	}

	.mlarrow_right {
		right: 0px;
	}

	.mlarrow_left {
		left: 0px;
	}
}
