$bar_length: 500px;
$thumbnail_a: 61px;

@import "mixins";

#activity-show {
  background-color: #f2f2f2;

  #container {
    width: 960px;
    height: 512px;
    margin: 30px auto 20px;

    #activity-col {
      float: left;
      margin-right: 10px;
      

      $main-content-width: 648px;
      #main-row {
        width: $main-content-width;
        background-color: white;
        @include shadow-box;

        img.photo-view {
          width: $main-content-width 
        }


        #like-bar {
          height: 35px;
          padding: 10px 0 5px 0px;
          .like-btn {
            overflow: hidden;
            text-indent: 9999px;
            display: block;
            background: image-url("moments/details/like.jpg") no-repeat left center;
            height: 35px;
            width: 35px;
            float: left;

            &:hover {
              background-position: left top;
            }

            &:active, &.liked {
              background-position: left bottom;
            }
          }
          .like-num {
            line-height: 35px;
            margin-left: 10px;
            color: #999;
            float: left;
          }
          .like-users {
            float: left;
            margin: 3px 0 0 25px;
            .like-user {
              position: relative;
              float: left;
              height: 30px;
              width: 30px;
              margin-left: 5px;

              .user-avatar-shadow {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
              }
              .user-avatar {
                position: absolute;
                top: 0;
                left: 0;
                height: 30px;
                width: 29px;
              }
            }
          }

          #action-remove {
            display: block;
            float: right;
            height: 35px;
            width: 35px;
            background: image-url("delete_big.jpg") -9px no-repeat;
            text-indent: 999999px;
          }
        }
      }


      #comment-row {
        margin-top: 20px;
        margin-left: -2px;
        #new-comment-box {
          // @include shadow-box;
          background: image-url("moments/details/input_area_bg.png") no-repeat -1px 0;
          // border: 0;
          // border-top: 1px solid #eee;
          // background-color: #f7f7f7;
          padding: 10px;
          .user-avatar {
            height: 42px;
            width: 42px;
            float: left;
          }
          #new_comment {
            float: left;
            position: relative;
            .minor-arrow-l {
              position: absolute;
              top: 14px;
              left: 18px;
            }
            input#content {
              padding: 10px;
              border: 1px solid #E6E6E6;
              line-height: 20px;
              margin: 0 0 0 26px;
              width: 554px;
              &:focus {
                outline: none;
              }
            }
          }
        }
        #comment-list {
          // @include shadow-box;
          margin-left: -1px;
          background: image-url("moments/details/container_left_middle.png") left top repeat-y;
          padding: 5px 16px 12px 16px;
          width: 634px;
          border-top: 1px solid #E6E6E6;
        }

        #comment-list-bottom {
          background: image-url("moments/details/container_left_bottom.png") left top no-repeat;
          font-size: 0px;
          height: 3px;
          width: 666px;
        }
      }
    }
  }
}