<%= render :partial => "widgets/feeds" , :collection => @moment -%>
<div class="divparams activity_ids_before" value="<%= @qparams[ "activity_ids" ] [ "before" ] %>"> </div>
<div class="divparams comment_ids_before" value="<%= @qparams[ "comment_ids" ] [ "before" ] %>"> </div>
<div class="divparams like_ids_before" value="<%= @qparams[ "like_ids" ] [ "before" ] %>"> </div>