<%= content_for :title do %>
  你迷路了？
<% end -%>
<%= content_for :page_specific_asset do %>
<style type="text/css">
    #code {
        font-family: helvetica;
        font-size: 50px;
        font-weight: 800;
        color: white;
        width: 100px;
        margin: 200px auto 0;
    }
    #text {
        font-size: 12px;
        color: black;
        width: 250px;
        margin: 0 auto;
    }    
    #img {
    	display: block;
        margin: 100px auto 20px;
    }
    a#back {
        color: #E5253D;
        display: block;
        margin: 0 auto;
        float: right;
    }
</style>
<% end -%>
<%= render :partial => "widgets/header" , :locals => { :user => @cur_user } %>
<img id="img" src="/assets/share/404.png">
<div id="text">什么都没发生，你什么都没看见  <a id="back" href="/"> 点击返回首页</a></div>
<div class="clearfix"></div>