@mixin round-shadow-box {
  border:6px solid white;
  -moz-box-shadow:0px 2px 2px #ccc;
  -webkit-box-shadow:0px 2px 2px #ccc;
  box-shadow:0px 2px 2px #ccc;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@mixin shadow-box {
	-moz-box-shadow:0px 2px 2px #ccc;
	-webkit-box-shadow:0px 2px 2px #ccc;
	box-shadow:0px 2px 2px #ccc;
  border:6px solid white;
}

@mixin background($color,$url,$x,$y,$repeat,$hover){
  background-color:$color;
  background-image:$url;
  background-position-x:$x;
  background-position-y:$y;
  background-repeat:$repeat;

  &:hover {
    background-position-y:$hover;
  }
}

@mixin container($height,$width,$margin,$padding,$float,$shadow){
  height:$height;
  width:$width;
  margin:$margin;
  padding:$padding;
  float:$float;
  box-shadow:$shadow;
}

@mixin border($top,$right,$bottom,$left,$radius) {
  border-top:$top;
  border-right:$right;
  border-bottom:$bottom;
  border-left:$left;
  border-radius:$radius;
}

@mixin font($color,$size,$font,$align,$shadow){
  color:$color;
  font-size:$size;
  font-family:$font;
  text-align:$align;
  text-shadow:$shadow;
}