#android_download {
	width: 900px;
	margin: 0 auto;

	#android_phone_pic {
		margin-top: 75px;
		float: left;
	}

	#android_content_block {
		margin-top: 304px;
		float: left;

		#text0 {
			font-size: 15px;
			color: white;
			margin-top: 10px;
			margin-bottom: 15px;
		}

		#qrcode_img {
			margin-top: 20px;
		}		
	}
}

#android_download_background {
	background: #e70e32 ;
	width: 100%;
}