#android_download {
	width: 920px;
	margin: 0 auto;

	#android_phone_pic {
		margin-top: 75px;
		float: left;
	}

	#android_content_block {
		margin-top: 304px;
		float: left;

		#logo_pic {
			width: 100%;
		}

		#text0 {
			font-size: 15px;
			color: white;
			margin-top: 50px;
			margin-bottom: 15px;
		}

		#qrcode_img {
			margin-top: 20px;
		}

		.downloadbtn {
			padding-left: 45px;
			width: 100px;
			text-align: center;

			img {
				margin-top: 9px; 
				margin-left: 9px;
			}
		}
	}
}
