/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require css_reset
 *= require widgets/widgets
 *= require misc
 *= require jackedup
 *= require bootstrap.min
 *= require_self
 *= require activities/show
 *= require moments/map
 *= require frontpage
 *= require android_download
*/

html {
}

body {
    font: 13px/22px "Microsoft YaHei",Hei,Helvetica,Arial;
}


a#follow-us {
  display: block;
  position: fixed;
  top: 10px;
  right: 0;
  width: 69px;
  height: 98px;
  text-indent: -99999px;
  background: image-url("frontpage/follow-us-pon.png") no-repeat 0 0;
  &:hover {
    background: image-url("frontpage/follow-us-pon.png") no-repeat 0 -98px;
  }
}

.clearfix {
  clear: both;
}