/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require css_reset
 *= require screen
 *= require index
 *= require discover
 *= require misc
 *= require user/user_show
 *= require user/friend_show
 *= require moment/moment_show
 *= require moment/comment_form
 *= require moment/timeline
 *= require widgets/_login
 *= require widgets/_cover
 *= require widgets/poitag

 *= require android_download
 *= require about
 *= require business

 *= require video-js
*/

body {
  letter-spacing:normal;
  color: black;
	margin: 0px auto;
  width:100%;
  font-size: 12px;
  overflow-x: hidden;
  word-wrap: break-word;
  font-family:Helvetica, Arial, sans-serif,"Microsoft YaHei",Hei;
}

.container {
  width: 960px;
  margin: 16px auto;
}


a#follow-us {
  display: block;
  position: fixed;
  top: 55px;
  right: 0;
  width: 69px;
  height: 98px;
  text-indent: -99999px;
  background: image-url("frontpage/follow-us-pon.png") no-repeat 0 0;
  &:hover {
    background: image-url("frontpage/follow-us-pon.png") no-repeat 0 -98px;
  }
}

img {
}

.clearfix {
  clear: both;
}

input,button,select,textarea{ outline:none;} 
textarea{ font-size:13px; resize:none;} 
