#business_body {
	width: 100%;
	background: grey;
	padding-top: 0px;

	#pic_body {
		width: 90%;
		margin: 0 auto;
		background:image-url("images/bg.png");
		padding-bottom: 50px;


		box-shadow:0px 1px 6px rgba(0,0,0,.3);
		-moz-box-shadow:0px 1px 6px rgba(0,0,0,.3);
		-webkit-box-shadow:0px 1px 6px rgba(0,0,0,.3);

		#cover {
			background-color :black;
			width: 100%;
			height: 200px;
		}

		p {
			font-size: 15px;
			display: block;
			text-align: center;
			color: white;
			margin: 15px 0;
			text-shadow:0px -1px 0px rgba(0,0,0,.3);
		}

		#sign {
			display: block;
			margin: 0 auto 0 ;
			width: 211px;
		}

		img.pic {
			margin: 50px auto 50px;
			display: block;
		}
	}

	img#pic_last {
		display: block;
		background:image-url("images/bg.png");
		margin: 100px auto 0;
		padding: 20px;
		padding-top: 50px;

		box-shadow:0px 1px 6px rgba(0,0,0,.3);
		-moz-box-shadow:0px 1px 6px rgba(0,0,0,.3);
		-webkit-box-shadow:0px 1px 6px rgba(0,0,0,.3);
	}
}