#index {
	width: 100%;
	position: relative;
	display: block;
	margin: 0px auto;
	font-size: 100%;

	#index-header {
		width: 100%;
		height: 522px;
		background-image: url("images/sky_desk_photodoom.jpg");
		background-attachment: fixed;
		background-size: cover;
		position: relative;

		#preview-col {
			float: left;
			position: relative;
			margin-left: 105px;
			width: 499px;
		}

		#intro-col {
			float: left;
			position: relative;
			margin-top: 205px;
			margin-left: 91px;
			width: 500px;
			height: 286px;	

			.intro-text {
				float: left;
				width: 100%;

				#vida-logo {
					float: left;
					width: 92;
					height: 36;
					margin-right: 23px;
				}

				h1.font1 {
					color: white;
					float: left;
					text-shadow: 1px 1px black;
				}

				p.font2 {
					float: left;
					margin-top: 4px;
					font-size: 25px;
					color: rgb(255,255,255);
					text-shadow:black 1px 1px 0;
				}		

				p.font3 {
					font-size: 17px;
					color: rgb(255,255,255);
					text-shadow:gray 1px 1px 0;
				}
			}

			li {
				color: white;
				font-size: 12px;
				margin: 13px;
				text-shadow:gray 1px 1px 0;
			}

			.download-bar {
				width: 100%px;
				margin: 30px 0px;
				float: left;

      			a {
        			float: left;
        			margin-right: 5px;
        		}
        	}
      		
		}
	}
}

#star-user {
	width: 1020px;
	margin: 10px auto;

	h1.header-title {
		margin-top: 30px;
		margin-bottom: 20px;
	}
}

#hot-story {
	width: 1020px;
	margin: 10px auto;
	
	h1.header-title {
		margin-top: 30px;
		margin-bottom: 20px;
	}

	.thumbnail {
		float: left;
		width: 245px;
		height: 151px;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	div {
		float: left;
	}

	.thumb_info {
		a {
			width: 150px;
			height: 16px;
			overflow: hidden;
		}
	}
}