#index {
	width: 100%;
	position: relative;

	#index_head {
		width: 100%;
		height: 430px;
		overflow: hidden;

		#red_block {
			width: 100%;
			height: 360px;
			background-color: #e70e32;

			#pic_col {
				position: absolute;
				margin-left: -450px;
				left: 50%;
			}

			#intro_col {
				position: absolute ;
				margin-left: 45px;
				margin-top: 230px;
				left: 50%;

				#text {
					margin-bottom: 20px;
					margin-left: 55px;
				}

				p {
					color: white;
					font-size: 24px;
					display: inline;
				}
			}
		}

		#grey_bar{
			background: image-url( "index/grey_bar_bg.png");
			width: 100%;
			height: 70px;

			img{
				left: 50%;
				position: absolute;
				margin-left: -410px;
			}
		}
	}

	#staruser_block
	{
		width: 900px;
		margin: 30px auto 15px;

		p#staruser_head
		{
			display: block;
			padding-left: 50px;
			padding-bottom: 15px;
			border-bottom: 1px dashed rgba(0,0,0,0.3);

			background:image-url("icon/icon_star_big.png") no-repeat left top;
			font-size: 21px;
		}

		#staruser_list
		{
			padding-top: 15px;
			border-top: 1px dashed white;

			.feature_user
			{
				float: left;
				margin-right: 20px;
				margin-left: 0;
				&:last-child { margin-right: 0; }
			}
		}
	}

	#theme_moment
	{
		width: 900px;
		margin: 30px auto;

		#theme_head
		{
			display: block;
			padding-left: 40px;
			padding-bottom: 15px;
			border-bottom: 1px dashed rgba(0,0,0,0.3);

			background:image-url("icon/icon_theme.png") no-repeat left top;
			font-size: 21px;
		}

		#theme_list
		{
			padding-top: 15px;
			border-top: 1px dashed white;

			.thumbnail
			{
				float: left;
				margin-right: 30px;
				margin-left: 0px;
				margin-bottom: 15px;
				&:nth-child( 3n ) { margin-right: 0; }
			}
		}
	}
}
