#index {
	width: 100%;
	position: relative;
	display: block;
	margin: 0px auto;
	font-size: 100%;

	#index-header {
		width: 100%;
		min-width: 1200px;
		height: 522px;
		background-image: image-url("images/sky_desk_photodoom.jpg");
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		position: relative;
		z-index:1;

		#index-header-block {
			margin: 0px auto;
			width: 960px;

			#preview-col {
				float: left;
				position: relative;
				width: 499px;
				z-index:3;
				margin-top: 8px;
			}

			#intro-col {
				float: left;
				position: relative;
				margin-top: 205px;
				margin-left: 91px;
				width: 370px;
				height: 286px;	
				z-index:3;

				.intro-text {
					float: left;
					width: 100%;

					#vida-logo {
						float: left;
						width: 92;
						height: 36;
						margin-right: 23px;
					}

					h1.font1 {
						font-size: 50px;
						color: white;
						float: left;
						text-shadow: 1px 1px black;
					}

					p.font2 {
						float: left;
						margin-top: 21px;
						font-size: 25px;
						color: rgb(255,255,255);
						text-shadow:black 1px 1px 0;
					}		

					p.font3 {
						font-size: 17px;
						color: rgb(255,255,255);
						text-shadow:black 1px 1px 0;
					}
				}

				li {
					color: white;
					font-size: 12px;
					margin: 13px;
					text-shadow:black 1px 1px 0;
				}

				.download-bar {
					width: 371px;
					margin: 30px 0px;
					float: left;

	      			a {
	        			float: left;
	        			margin-right: 5px;
	        		}
	        	}
	        }      		
		}
	}
}

#index-header-shadow {
	width: 100%;
	height: 522px;
	min-width: 1200px;
	position: absolute;
	background:rgba(0,0,0,.2) image-url( "grey_point.png" ) repeat scroll center;
	top:0;
	z-index:2;
}

#star-user {
	width: 1020px;
	margin: 30px auto;
	margin-top: 30px;

	.header-title {
		margin-top: 20px;
		margin-bottom: 10px;

		img {
			float: left;
		}

		h1 {
			font-size: 21px;
			color: #333333;
			font-weight: normal;
			float: left;
			margin: 0px 10px;
		}
	}
}

#hot-story {
	width: 1020px;
	margin: 30px auto;	
	margin-top: 30px;
	text-align: left;
	
	.header-title {
		margin-top: 20px;
		margin-bottom: 10px;

		img {
			float: left;
		}

		h1 {
			font-size: 21px;
			color: #333333;
			font-weight: normal;
			float: left;
			margin: 5px 10px;
		}
	}

	.thumbnail {
		float: left;
		width: 245px;
		height: 151px;
		margin-bottom: 10px;

		&:nth-child(odd) { margin-right: 10px; }
	}

	.thumb_info {
		a {
			width: 150px;
			height: 16px;
			overflow: hidden;
		}
	}
}
