// Place all the styles related to the misc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contact {
  width: 100%;
  height: 100%;
  #bg {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
  }

  $width: 372px;
  $height: 480px;

  #container {
    width: $width;
    height: $height;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: $height / -2;
    margin-left: $width / -2;

    input, textarea {
      border: 0;
      padding: 0;
      margin-top: 20px;

      $padding : 50px;

      &#from {
        height: 70px;
        width: $width - $padding;
        padding-left: $padding;
        font-size: 28px;
        font: Helvetica;
        color: #666;
        background: image-url("about/email-form.png") no-repeat;
      }

      &#content {
        resize:none;
        height: 203px;
        width: $width - $padding;
        padding-left: $padding;
        color: #666;
        font-size: 28px;
        font: Helvetica;
        padding-top: 6px;
        background: image-url("about/contact-form.png") no-repeat;
      }

      &#submit {
        cursor: pointer;
        height: 60px;
        width: $width;
        background: image-url("about/form-button.png") no-repeat;
      }

    }

    #success-info {
      width: $width;
      text-align: center;
      margin-top: 15px;
    }
  }

  #footer {
    position: absolute;
    right: 0;
    bottom: 0;
  }

}