.text-info
{
	behavior: url("/assets/PIE.htc");
	display: block;
	width: 100%;
	background-color: rgba(0,0,0,0.3) ;
	text-align: center;
	padding: 10px 0px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 15px;
	font-size: 16px;
	box-shadow:0px 1px 0px rgba(255,255,255,.5),inset 0px 1px 1px rgba(255,255,255,.5);
	text-shadow:0px -1px 0px rgba(255,255,255,.5);
}

#temp-center-box
{
	behavior: url("/assets/PIE.htc");
	position: fixed;
	display: none;
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	padding: 40px 20px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 10px;
	color: white;
	text-shadow: 1px 1px gray;
	font-size: 16px;
	box-shadow:0px 1px 0px rgba(255,255,255,.5),inset 0px 1px 1px rgba(255,255,255,.5);
	z-index: 50;
}

a#refresh-link, a#none-link{
	behavior: url("/assets/PIE.htc");
	width: 50%;
	margin-left: 25%;
	display: block;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	padding: 10px 0px;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-size: 16px;
	box-shadow:0px 1px 0px rgba(255,255,255,.5),inset 0px 1px 1px rgba(255,255,255,.5);
	text-shadow:0px -1px 0px rgba(255,255,255,.5);
}

#follow_list {
	position: fixed;
	top: 100px;
	left: 37%;
}

.destroy-tag {
	position: absolute;
	top: -16px;
	right: 0px;
}

.mouse {
	cursor: pointer;
	&:hover{ text-decoration: underline; }
}

#message_box {
	#message {
		position: fixed;
		top: 100px;
		left: 37%;
	}
}

#footer {
	position: absolute;
	left: 50%;
	margin-left: -88px;
	margin-top: 20px;
	padding-bottom: 20px;
}
