.text-info
{
  display: block;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
  padding: 10px 0px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-top: 10px;
	box-shadow:0px 1px 0px rgba(255,255,255,.5),inset 0px 1px 1px rgba(255,255,255,.5);
}

#temp-center-box
{
	position: fixed;
	display: none;
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	padding: 40px 20px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 10px;
	color: white;
	text-shadow: 1px 1px gray;
	font-size: 16px;
	box-shadow:0px 1px 0px rgba(255,255,255,.5),inset 0px 1px 1px rgba(255,255,255,.5);
}

#follow_list {
	display: none;
	position: fixed;
	top: 100px;
	left: 37%;
}

.destroy-tag {
	position: absolute;
	top: -16px;
	right: 0px;
}

.mouse {
	cursor: pointer;
	&:hover{ text-decoration: underline; }
}

a#refresh-link, a#none-link{
	display: block;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	padding: 10px 0px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}