#moment-show-page {
	width: 100%;

	#main-block {
		width: 450px;
		margin: 0px auto;
		position: relative;
		top: -200px;

		#main-block-header {
			width: 100%;
			margin-bottom: 5px;

			#download-place {
				width: 90%;
				float: left;
				padding: 25px;
				background-color: rgba(0,0,0,0.3);
				font-size: 20px;
				color: rgb(255,255,255);
				text-indent: 0em;
				line-height: 30px;
				text-shadow: black 0.1em 0.1em 0.2em;
				border-radius: 8px;
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;

				p {
					display: inline;
					color: rgb(255,0,0);
					font-size: 20px;
					text-shadow: black 0.1em 0.1em 0.2em;
				}
			}

			#share-button {
				float: right;
				margin-top:20px;
				padding: 15px;
				background-color: rgba(0,0,0,0.7);
				color: white;
				font-size: 20px;
			}

			#title-place {
				width: 70%;
				float: left;
				margin-top: 20px;
				margin-left: 10px;

				h1 {
					display: block;
					margin-bottom: 5px;
					color: white;
					text-shadow:1px 1px gray;
					font-size: 30px;
					line-height: 35px;
				}

				p {
					display: block;
					color: white;
					text-shadow:1px 1px gray;
					text-size: 15px;
				}
			}
		}
		
		#story_info {
			display: none;
		}

		#show-map {
			margin-bottom: 30px;
			width: 100%;
			height: 400px;
			background-color: white;
		}

		#pic-block {
			width: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

#activity_detail {
	display: none;
	position: absolute;	
	background-color: rgba(0,0,0,0.3);
	top: 0px;
	left: 0px;

	#activity_detail_img {
		postion: relative;
	}
}

#share_detail {
	display: none;
	position: absolute;	
	background-color: rgba(0,0,0,0.3);
	top: 0px;
	left: 0px;

	#login_with {
		display: block;

		form {
			display: none;
		}
	}
}
