/*
 *= require screen
 *= require widgets/blackbackground
*/

@mixin all_border_radius( $radius ) {
	border-radius: $radius ;
	-moz-border-radius: $radius ;
	-webkit-border-radius: $radius ;	
}

@mixin all_background_rgba( $r , $g , $b , $a ) {
	background-color: rgb( $r , $g , $b ) ;
	background-color: rgba( $r , $g , $b , $a ) ;
	*background-color: rgb( $r , $g , $b ) ;
	filter: alpha(opacity = $a * 100); /* required for opacity to work in IE */
}

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	background-size: cover;
	background-position: center;
}

#slideshow_header {
	width: 100%;
	height: 70px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	@include all_background_rgba( 0 , 0 , 0 , 0.6 ) ;

	#slideshow_header_content {
		margin: 0px auto;
		width: 320px;
		height: 70px;

		#header_left {
			float: left;
			height: 70px;
			width: 70px;
			margin-left: 20px;
		}

		#header_right {
			width: 220px;
			height: 70px;
			float: left;
			margin-left: 10px;

			#header_des {
				color: white;
				font-size: 14px;
				letter-spacing: 1px;
				margin-top: 5px;
				clear: both;
				float: left;
			}

			.header_btn {
				float: left;
				margin-top: 5px;
				margin-right: 10px;
			}
		}
	}
}

#slideshow_index {
	width: 100%; //170px;
	display: block;
	margin:0 auto;
	text-align: center;
	position: relative;

	#play_slideshow_btn_area {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -62px;
		width: 124px;


		#play_slideshow_btn {
			margin: 0 20px 60px;
			display: block;

			a {
				width: 100%;
				margin: 10px 0;
			}

			p {
				margin-top: 10px;
				width: 100%;
				color: white;
			}
		}

		.goto_momentshow {
			display: block;
			clear: both;
		}
	}
}

#slideshow {

	.slideshow_window {
		display: none;
		position: relative;
		overflow: hidden;

		.slideshow_img {
			width: 100%;
			height: auto;
		}

		#left_cover {
			height: 100%;
			left: 0;
			top: 0;
		}

		#right_cover {
			height: 100%;
			right: 0;
			top: 0;
		}

		#top_cover {
			width: 100%;
			top: 0;
			left: 0;
		}

		#bottom_cover {
			width: 100%; 
			bottom: 0;
			left: 0;
		}

		.cover {
			display: none;
			position: absolute; 
			z-index: 20;
		}

		.info_window {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #000000;
			background-color: rgba(0,0,0,.5);
			*background-color: #000000;
			filter: alpha(opacity = 50); /* required for opacity to work in IE */
			color: white;
			width: 100%;
			display: none;

			.info_text {
				width: 70%;
				margin: 10px 0 10px 5%;
			}

			.info_rating {
				width: 90%;
				margin: 10px 0 10px 5%;
				font-size: 16px;
			}
		}
	}
}

#slideshow_start {
	width: 100%;
	height: 90px;
	text-align: center;
	display: none;
	position: relative;

	.image {
		width: 50px;
		height: 50px;
		position: absolute;
		margin-top: 0;
		margin-left: -25px;
		left: 50%;
		display: none;
		opacity: 0;
	}

	.text {
		font-size: 16px;
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		color: white;
		display: none;
		opacity: 0;
	}
}

#slideshow_end {
	display: none;
	width: 100%;
	margin:0 auto;
	text-align: center;
	position: relative;

	#end_slideshow_part {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -115px;
	}

	.goto_momentshow {
		display: block;
		clear: both;
		margin: 50px 52px 0;
	}
}

.black_cover {
	width: 100%;
	height: 100%;
	@include all_background_rgba( 0 , 0 , 0 , 0.6 ) ;
}

.roundavatar {
	width: 50px;
	height: 50px;
	border: 2px solid white;
	@include all_border_radius( 25px ) ;
	overflow: hidden;
	display: block;
	float: none;

	img {
		*border: none;
		width: 100%;
		height: 100%;
	}
}

.roundbutton {
	width: 50px;
	height: 50px;
	display: block;
	overflow: hidden;
	float: left;

	img {
		*border: none;
		width: 100%;
		height: 100%;
	}
}

.bcolor {
	background-image:none;
}

#login_with {
	left: 37%;
	top: 100px;
	position: fixed;
}

.clearfix { clear :both ; }
