/*
 *= require screen
 *= require widgets/blackbackground
*/

@mixin all_border_radius( $radius ) {
	border-radius: $radius ;
	-moz-border-radius: $radius ;
	-webkit-border-radius: $radius ;	
}

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#slideshow_index {
	display: none;
	width: 100%; //170px;
	height: auto;
	display: block;
	margin:0 auto;
	text-align: center;

	a {
		width: 100%;
		margin: 10px 0;
	}

	p {
		margin-bottom: 40px;
		width: 100%;
		color: white;
	}
}

#slideshow {

	.slideshow_window {
		display: none;
		position: relative;
		overflow: hidden;

		.slideshow_img {
			width: 100%;
			height: auto;
		}

		#left_cover {
			height: 100%;
			left: 0;
			top: 0;
		}

		#right_cover {
			height: 100%;
			right: 0;
			top: 0;
		}

		#top_cover {
			width: 100%;
			top: 0;
			left: 0;
		}

		#bottom_cover {
			width: 100%; 
			bottom: 0;
			left: 0;
		}

		.cover {
			display: none;
			position: absolute; 
			z-index: 20;
		}

		.info_window {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #000000;
			background-color: rgba(0,0,0,.5);
			*background-color: #000000;
			filter: alpha(opacity = 50); /* required for opacity to work in IE */
			color: white;
			width: 100%;
			display: none;

			.info_text {
				width: 70%;
				margin: 10px 0 10px 5%;
			}

			.info_rating {
				width: 90%;
				margin: 10px 0 10px 5%;
				font-size: 16px;
			}
		}
	}
}

#slideshow_start {
	width: 100%;
	height: 90px;
	text-align: center;
	display: none;
	position: relative;

	.image {
		width: 50px;
		height: 50px;
		position: absolute;
		margin-top: 0;
		margin-left: -25px;
		left: 50%;
		display: none;
		opacity: 0;
	}

	.text {
		font-size: 16px;
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		color: white;
		display: none;
		opacity: 0;
	}
}

#slideshow_end {
	width: 100%;
	display: none;
}

.roundavatar {
	width: 50px;
	height: 50px;
	border: 2px solid white;
	@include all_border_radius( 25px ) ;
	overflow: hidden;
	display: block;
	float: none;

	img {
		*border: none;
		width: 100%;
		height: 100%;
	}
}

.roundbutton {
	width: 50px;
	height: 50px;
	display: block;
	overflow: hidden;
	float: left;

	img {
		*border: none;
		width: 100%;
		height: 100%;
	}
}

.bcolor {
	background-image:none;
}

#login_with {
	left: 37%;
	top: 100px;
	position: fixed;
}

.clearfix { clear :both ; }
