/*
 *= require bootstrap/bootstrap.min
*/

$blue: #7CB7E8;
$yellow: #fbae17;
$cyanogen: #64ddb4;
$pink: #dd5f7a;

body {
    padding-top: 20px;
}

.wrapper {
    width: 1250px;
    overflow: hidden;
}

.wrapper > hr {
    margin: 60px 0;
}

/* nav */
.navbar-weiboactive {
    .navbar-inner {
      background-color: transparent;
      background-image: none;
      border: none;
      border-radius: none;
      box-shadow: none;
      min-height: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .nav > li.nav-label {
        color: #b3b3b3;
        line-height: 63px;
        margin-right: 1em;
    }
    
    .nav > li.nav-split {
        color: #b3b3b3;
        line-height: 63px;
    }
    
    .nav > li > a.btn-blue-small {
        padding: 8px;
        margin-top: 12px;
        text-shadow: none;
        color: white;
    }
    
    .nav > li > a.btn-blue-small:hover {
        color: white;
        background: none repeat scroll 0 0 $blue;
    }
    
    .nav > li > a.btn-yellow-small {
        padding: 8px;
        margin-top: 12px;
        text-shadow: none;
        color: white;
    }
    
    .nav > li > a.btn-yellow-small:hover {
        color: white;
        background: none repeat scroll 0 0 $blue;
    }
    
    .nav > li > a.nav-btn {
        margin-top: 12px;
    }
}

/* Buttons */
.btn-blue {
    background: none repeat scroll 0 0 $blue;
    color: white;
    font-size: 140%;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}

.btn-yellow {
    background: none repeat scroll 0 0 $yellow;
    color: white;
    font-size: 140%;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}

.btn-yellow-small {
    background: none repeat scroll 0 0 $yellow;
    color: white;
    font-size: 110%;
    border-radius: 6px 6px 6px 6px;
    padding: 11px 19px;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}

.btn-cyanogen {
    background: none repeat scroll 0 0 $cyanogen;
    color: white;
    font-size: 140%;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}
.btn-cyanogen-small {
    background: none repeat scroll 0 0 $cyanogen;
    color: white;
    font-size: 110%;
    border-radius: 6px 6px 6px 6px;
    padding: 11px 19px;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}

.btn-pink {
    background: none repeat scroll 0 0 $pink;
    color: white;
    font-size: 140%;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}

.btn-pink-small {
    background: none repeat scroll 0 0 $pink;
    color: white;
    font-size: 110%;
    border-radius: 6px 6px 6px 6px;
    padding: 11px 19px;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}

.btn-blue-small {
    background: none repeat scroll 0 0 $blue;
    color: white;
    font-size: 110%;
    border-radius: 6px 6px 6px 6px;
    padding: 11px 19px;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}


.tencent-share {
    background: none repeat scroll 0 0 #7CB7E8;
    color: white;
    font-size: 140%;
    line-height: 20px;
    padding: 12px 0;
    width: 100%;
}

.tencent-share-container {
    margin-top: 10px;
    margin-bottom: 50px;
    
    /* Tencent share button*/
    .btn-blue-small {
        display: block;
    }
}



.integral {
    font-size: 90px;
    line-height: 1em;
    margin-left: 10px;
    font-weight: bold;
}

.btn-login {
    padding: 11px 19px;
}

.nav-collapse {
    float: right;
    height: auto;
    
}
/* Banner */
.banner {
    background: url("weiboactive/banner.png") no-repeat scroll 50% 50% #4D4D4D;
    height: 125px;
}

/* Header*/
.header {
    background: #f27149;
    color: white;
    padding: 70px;
}

.header-pink {
    position: relative;
    background: $pink;
    color: white;
    padding: 50px;
    
    img.iphone-big {
        float: right;
        margin-bottom: -64px;
        margin-right: -95px;
        margin-top: -116px;
    }
    
    img.vida {
        margin-bottom: 30px;
    }
    
    .app-download {
        position: absolute;
        bottom: 60px;
        left: 480px;
    }
}

/* Paragraph */
.p30 {
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
}

.p37-5 {
    font-size: 37.5px;
    line-height: 1.2;
    margin: 0;
}

.p15 {
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
}

.p22-5 {
    font-size: 140%;
    line-height: 1.2;
    margin: 0;
}

/* Daily Star*/
.user-container {
    text-align: center;
    
    .user-content {
        margin-left: 250px;
    }
    .user-avatar {
            float: left;
            margin-left: 150px;
          img {
              border-radius: 50px 50px 50px 50px;
              width: 100px;
          }
    }

    .user-name {
      font-size: 30px;
      font-weight: normal;
      line-height: 1.5;
    }

    .user-award {
      font-size: 140%;
      color: #DD5F79;
      line-height: 1.5;
      margin-bottom: 20px;
    }
}

/* My Profile */
.myprofile-container {
    .user-avatar {
      border-radius: 50px 50px 50px 50px;
      width: 100px;
      margin-bottom: 10px;
    }

    .user-name {
      font-size: 140%;
      font-weight: normal;
      line-height: 1.5;
      margin-bottom: 10px;
    }
}

/*Block title*/
.block-title {
  font-weight: normal;
  line-height: 96px;
  font-size: 35px;
  color: #808080;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 50px;
  
  a {
  	color: inherit;
  }
}

.jifen {
    float: right;
    font-size: 100px;
    line-height: 100px;
    margin-right: 20%;
}

.placard {
    margin-left: 25px;
    margin-bottom: 25px;
    
    .title {
        color: #4D4D4D;
        font-size: 30px;
        line-height: 1;
        margin-bottom: 20px;
    }
}

.talent-container {
    background: #f2f2f2;
    margin: 0;
    
    li {
        list-style: none;
        padding: 10px;
        border-bottom: 1px solid white;
    }
    
    .avatar {
	    background-color: white;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: contain;
	    border-radius: 6px 6px 6px 6px;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
	    float: left;
	    height: 50px;
	    margin: 0 10px 0 0;
	    overflow: hidden;
	    width: 50px;
	}
	
	.info-container {
		overflow: hidden;
	  
		.user-name {
			font-weight: normal;
			margin: 0 0 5px;
		  
			a {
				color: #4d4d4d;
			}
		}
		
		.content {
		    color: #b3b3b3;
		    font-size: 15px;
		    margin: 5px 0 0;
		    overflow: hidden;
		    word-wrap: break-word;
		}
	}
}

.rls_container {
    bottom: 0;
    position: absolute;
    width: 100%;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    
    .rls_container_inner {
	    clear: both;
	    color: white;
	    margin: 0 auto;
	    overflow: hidden;
	    position: relative;
	}
}

.thumbnail-pic {
    height: 150px;
    overflow: hidden;
    position: relative;
}
.thumbnail-pic img{
  width: 100%;
}

.rls_container .rls_container_inner .story_visited,
.rls_container .rls_container_inner .story_like,
.rls_container .rls_container_inner .story_share {
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin: 6px 0 6px 10%;
    padding-left: 24px;
}

#carousel-1,
#carousel-2 {
  padding: 40px 50px;
}

.carousel-indicators {
    bottom: 10px;
    left: 50%;
    right: inherit;
    top: inherit;
    
    li {
	  cursor: pointer;
	  background-color: #b3b3b3;
	}
	
	.active {
	    background-color: #DD5F7A;
	}
}

.editorstory-row {
    margin-top: 40px;
}


a.more-link {
	behavior: url("/assets/PIE.htc");
	width: 370px;
	margin: 0 auto;
	display: block;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	padding: 10px 0px;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	font-size: 16px;
	box-shadow:0px 1px 0px rgba(255,255,255,.5),inset 0px 1px 1px rgba(255,255,255,.5);
	text-shadow:0px -1px 0px rgba(255,255,255,.5);
    
    color: #363636;
    display: block;
    text-decoration: none;
    
    max-width: 100%;
}

.award-row {
    .award_container {
        .avatar {
            img {
                border: 2px solid #FFFFFF;
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3)
            }
        }
    }
}

/*编辑推荐&热门作品*/
.story_container {
    clear: both;
    margin-top: 20px;
    
    .avatar {
        background-color: white;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 6px 6px 6px 6px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
        float: left;
        height: 50px;
        margin: 0 10px 0 0;
        overflow: hidden;
        width: 50px;
    }
    
    .story_body {
        overflow: hidden;
        
        .story_heading {
            font-weight: normal;
            margin: 5px 0;
            
            a {
                color: crimson;
            }
        }
        
        .story_username {
            color: #A6A099;
            font-size: 15px;
            margin: 5px 0 0;
            overflow: hidden;
            word-wrap: break-word;
        }

    }
}

/* Article*/
.article {
    margin-left: 5%;
    margin-right: 5%;
    
    p {
        line-height: 1.2;
    }
    
    .surround-img {
        float: left;
    }
    
    .surround-content {
        margin-left: 280px;
    }
}

.iphone_download {
    width: 162px;
    height: 50px;
    display: block;
    background-image: url("/assets/index/index_download_iphone.png");
    background-repeat: no-repeat;

    &:hover {
        background-position: 0 -50px;
    }
}

.android_download {
    width: 173px;
    height: 50px;
    display: block;
    background-image: url("/assets/index/index_download_android.png");
    background-repeat: no-repeat;

    &:hover {
        background-position: 0 -50px;
    }
}

/* footer */
footer {
    background: none no-repeat scroll 0 0 #F27149;
    margin-top: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}


/*scroll up*/
#scrollUp {
	bottom: 20px;
	right: 20px;
	height: 38px;  /* Height of image */
	width: 38px; /* Width of image */
	background: url(../img/top.png) no-repeat;
}
