/*
 *= require bootstrap/bootstrap.min
*/

$blue: #7CB7E8;
$yellow: #FBBF49;
$cyanogen: #64ddb4;
$pink: #dd5f7a;

body {
    padding-top: 20px;
}

.wrapper {
    width: 1000px;
}

.wrapper > hr {
    margin: 60px 0;
}

/* nav */
.navbar-weiboactive {
    .navbar-inner {
      background-color: transparent;
      background-image: none;
      border: none;
      border-radius: none;
      box-shadow: none;
      min-height: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .nav {
        li.nav-label {
            color: #b3b3b3;
            line-height: 63px;
            margin-right: 1em;
        }
        
        li.nav-split {
            color: #b3b3b3;
            line-height: 63px;
        }
    
        li {
            a.nav-btn {
                margin-top: 12px;
                text-shadow: none;
            }
            
            .btn-yellow:hover,
            .btn-yellow:focus,
            .btn-yellow:active,
            .btn-yellow.active,
            .btn-yellow.disabled,
            .btn-yellow[disabled] {
              color: #ffffff;
              background-color: #fbae17;
              *background-color: #fbae17;
            }
            
            .btn {
                color: white;
            }

            .btn-blue:hover,
            .btn-blue:focus,
            .btn-blue:active,
            .btn-blue.active,
            .btn-blue.disabled,
            .btn-blue[disabled] {
              color: #ffffff;
              background-color: #1e8ce8;
              *background-color: #1e8ce8;
            }
            
        }
        
    }
    
}

/* Buttons */

.btn-yellow {
    background: none repeat scroll 0 0 $yellow;
    border: none;
    color: white;
    text-shadow: none;
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.btn-yellow.disabled,
.btn-yellow[disabled] {
  color: #ffffff;
  background-color: #fbae17;
  *background-color: #fbae17;
}

.btn-cyanogen {
    background: none repeat scroll 0 0 $cyanogen;
    border: none;
    color: white;
    text-shadow: none;
}

.btn-cyanogen:hover,
.btn-cyanogen:focus,
.btn-cyanogen:active,
.btn-cyanogen.active,
.btn-cyanogen.disabled,
.btn-cyanogen[disabled] {
  color: #ffffff;
  background-color: #0bdd96;
  *background-color: #0bdd96;
}

.btn-pink {
    background: none repeat scroll 0 0 $pink;
    border: none;
    color: white;
    text-shadow: none;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.btn-pink.disabled,
.btn-pink[disabled] {
  color: #ffffff;
  background-color: #dd0735;
  *background-color: #dd0735;
}

.btn-blue {
    background: none repeat scroll 0 0 $blue;
    border: none;
    color: white;
    text-shadow: none;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
  color: #ffffff;
  background-color: #1e8ce8;
  *background-color: #1e8ce8;
}


.tencent-share {
    background: none repeat scroll 0 0 #7CB7E8;
    color: white;
    font-size: 140%;
    line-height: 20px;
    padding: 12px 0;
    width: 100%;
}

.tencent-share-container {
    margin-top: 10px;
    margin-bottom: 50px;
}


.integral {
    font-size: 90px;
    line-height: 1em;
    margin-left: 10px;
    font-weight: bold;
}

.btn-login {
    padding: 11px 19px;
}

.nav-collapse {
    float: right;
    height: auto;
    
}
/* Banner */
.banner {
    background: url("weiboactive/banner.png") no-repeat scroll 50% 50% #4D4D4D;
    height: 125px;
}

/* Header*/
.header {
    background: #f27149;
    color: white;
    padding: 70px;
    
    .desc {
        font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
    }
}

.header-pink {
    position: relative;
    background: $pink;
    color: white;
    padding: 50px;
    
    img.iphone-big {
        float: right;
        margin-bottom: -64px;
        margin-right: -95px;
        margin-top: -116px;
        width: 500px;
    }
    
    img.vida {
        margin-bottom: 30px;
    }
    
    .app-download {
        position: absolute;
        bottom: 60px;
        left: 480px;
    }
    
    .desc {
        font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
    }
}

/* Paragraph */
.p30 {
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
}

.p37-5 {
    font-size: 37.5px;
    line-height: 1.2;
    margin: 0;
}

.p26 {
    font-size: 26px;
    line-height: 1.2;
    margin: 0;
}

.p15 {
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
}

.p22-5 {
    font-size: 140%;
    line-height: 1.2;
    margin: 0;
}

.user-avatar {
  border-radius: 50px 50px 50px 50px;
  width: 100px;
}

/* Daily Star*/
.user-container {
    text-align: center;
    
    .user-content {
        margin-left: 250px;
    }
    .user-avatar {
        float: left;
        margin-left: 150px;
        margin-bottom: 10px;
    }

    .user-name {
      font-size: 30px;
      font-weight: normal;
      line-height: 1.5;
    }

    .user-award {
      font-size: 140%;
      color: #DD5F79;
      line-height: 1.5;
      margin-bottom: 20px;
    }
}


/* My Profile */
.myprofile-container {

    .user-name {
      font-size: 140%;
      font-weight: normal;
      line-height: 1.5;
      margin-bottom: 10px;
    }
}

/*Block title*/
.block-title {
  font-weight: normal;
  line-height: 96px;
  font-size: 35px;
  color: #808080;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 50px;
  
  a {
  	color: inherit;
  }
}

.jifen {
    float: right;
    font-size: 100px;
    line-height: 100px;
    margin-right: 20%;
}

.placard {
    margin-left: 25px;
    margin-bottom: 25px;
    
    .title {
        color: #4D4D4D;
        font-size: 30px;
        line-height: 1;
        margin-bottom: 20px;
    }
}

.talent-container {
    background: #f2f2f2;
    margin: 0;
    
    li {
        background: url("/assets/weiboactive/num.png") no-repeat scroll 0 0 transparent;
        border-bottom: 1px solid white;
        list-style: none outside none;
        padding: 10px 10px 10px 37px;
    }
    
    li.num1 {
        background-position: 0 0; 
    }
    li.num2 {
        background-position: 0 11%; 
    }
    li.num3 {
        background-position: 0 22%; 
    }
    li.num4 {
        background-position: 0 33%;
    }
    li.num5 {
        background-position: 0 44%; 
    }
    li.num6 {
        background-position: 0 55%; 
    }
    li.num7 {
        background-position: 0 66%; 
    }
    li.num8 {
        background-position: 0 77%; 
    }
    li.num9 {
        background-position: 0 88%; 
    }
    li.num10 {
        background-position: 0 100%; 
    }
    
    .avatar {
	    background-color: white;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: contain;
	    border-radius: 6px 6px 6px 6px;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
	    float: left;
	    height: 50px;
	    margin: 0 10px 0 0;
	    overflow: hidden;
	    width: 50px;
	}
	
	.info-container {
		overflow: hidden;
	  
		.user-name {
			font-weight: normal;
			margin: 0 0 5px;
		  
			a {
				color: #4d4d4d;
			}
		}
		
		.content {
		    color: #b3b3b3;
		    font-size: 15px;
		    margin: 5px 0 0;
		    overflow: hidden;
		    word-wrap: break-word;
		}
	}
}

.rls_container {
    bottom: 0;
    position: absolute;
    width: 100%;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    
    .rls_container_inner {
        clear: both;
        color: white;
        line-height: 30px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        text-align: center;
    }
}

.thumbnail-pic {
    height: 150px;
    overflow: hidden;
    position: relative;
    
    .play_container {
        background: url("/assets/weiboactive/start.png") no-repeat scroll 50% 50% transparent;
        cursor: pointer;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
    
    img{
      width: 100%;
    }
}

#carousel-1,
#carousel-2 {
  padding: 40px 50px;
}

.carousel-indicators {
    bottom: 10px;
    left: 50%;
    right: inherit;
    top: inherit;
    
    li {
	  cursor: pointer;
	  background-color: #b3b3b3;
	}
	
	.active {
	    background-color: #DD5F7A;
	}
}

.editorstory-row {
    margin-top: 40px;
}


a.more-link {
	behavior: url("/assets/PIE.htc");
	width: 370px;
	margin: 0 auto;
	display: block;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	padding: 10px 0px;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	font-size: 16px;
	box-shadow:0px 1px 0px rgba(255,255,255,.5),inset 0px 1px 1px rgba(255,255,255,.5);
	text-shadow:0px -1px 0px rgba(255,255,255,.5);
    
    color: #363636;
    display: block;
    text-decoration: none;
    
    max-width: 100%;
}

.award-row {
    .award_container {
        .avatar {
            img {
                border: 2px solid #FFFFFF;
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3)
            }
        }
    }
}

/*编辑推荐&热门作品*/
.story_container {
    clear: both;
    margin-top: 20px;
    
    .avatar {
        background-color: white;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 6px 6px 6px 6px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
        float: left;
        height: 50px;
        margin: 0 10px 0 0;
        overflow: hidden;
        width: 50px;
    }
    
    .story_body {
        overflow: hidden;
        
        .story_heading {
            font-weight: normal;
            margin: 5px 0;
            
            a {
                color: crimson;
            }
        }
        
        .story_username {
            color: #A6A099;
            font-size: 15px;
            margin: 5px 0 0;
            overflow: hidden;
            word-wrap: break-word;
        }

    }
}

/* Article*/
.article {
    margin-left: 5%;
    margin-right: 5%;
    
    p {
        line-height: 1.2;
    }
    
    .surround-img {
        float: left;
    }
    
    .surround-content {
        margin-left: 280px;
    }
}

.iphone_download {
    width: 162px;
    height: 50px;
    display: block;
    background-image: url("/assets/index/index_download_iphone.png");
    background-repeat: no-repeat;

    &:hover {
        background-position: 0 -50px;
    }
}

.android_download {
    width: 173px;
    height: 50px;
    display: block;
    background-image: url("/assets/index/index_download_android.png");
    background-repeat: no-repeat;

    &:hover {
        background-position: 0 -50px;
    }
}

/* footer */
footer {
    background: none no-repeat scroll 0 0 #F27149;
    margin-top: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}


/*scroll up*/
#scrollUp {
	bottom: 20px;
	right: 20px;
	height: 38px;  /* Height of image */
	width: 38px; /* Width of image */
	background: url(../img/top.png) no-repeat;
}


/*遮照窗体样式*/
@media (max-width: 767px) {
  .modal {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade {
    top: -100px;
  }
  .modal.fade.in {
    top: 20px;
  }
}

@media (max-width: 480px) {
  .modal {
    top: 10px;
    right: 10px;
    left: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
}