<div id="left_nav">
	<ul>
		<li id="feature">
			<a href="/discover/index">精选故事</a>
		</li>
		<li id="star">
			<a href="/discover/staruser">星用户</a>
		</li>
		<li id="travel">
			<a href="/discover/category?category=travel">出游</a>
		</li>
		<li id="food">
			<a href="/discover/category?category=food">美食</a>
		</li>
		<!--
		<li id="star">
			<a href="/discover/category?category=misc">秀搭配</a>
		</li>
		-->
		<li id="mood">
			<a href="/discover/category?category=mood">心情</a>
		</li>
		<!--
		<li id="kids">
			<a href="/discover/category?category=children">亲子</a>
		</li>
		<li id="photograph">
			<a href="/discover/category?category=photograph">摄影</a>
		</li>
		-->
		<li id="suipai">
			<a href="/discover/category?category=random">随拍</a>
		</li>
	</ul>
	<div style="border-top:1px dashed #ffffff;"></div>
</div>
