<div id="left_nav">
	<ul>
		<li id="feature">
			<a href="/discover/index">精选活动</a>
		</li>
		<li id="star">
			<a href="/discover/staruser">星用户</a>
		</li>
		<li id="star">
			<a href="/discover/category?category=travel">出游</a>
		</li>
		<li id="star">
			<a href="/discover/category?category=misc">秀搭配</a>
		</li>
		<li id="star">
			<a href="/discover/category?category=mood">心情日记</a>
		</li>
		<li id="star">
			<a href="/discover/category?category=children">亲子</a>
		</li>
		<li id="star">
			<a href="/discover/category?category=food">吃货</a>
		</li>
		<li id="star">
			<a href="/discover/category?category=random">随拍</a>
		</li>
	</ul>
</div>
