<div class="massage_bar">
    <%#=image_tag activity['avatar_file'], :class=>"user_photo" %>
    <%= avatar_tag activity %>
	<div class="user_name"> <%= activity['name'] %> </div>
	<div class="show_like"></div>
</div>
<div class="underline"></div>