<div class="photo">
<%= link_to activity_url(thumbnail['id']), :class => "thumbnail" do %>
	<%= image_tag thumbnail['photo']['url_m'] %> 
<% end %>
	<% if thumbnail['liked'] %>
		<span class="thumbnail_like liked"> </span>
	<% else %>
		<%= link_to "", like_activity_path(thumbnail['id']), :class => "thumbnail_like", "data-login-required" => true, :remote => true, :method => :PUT %>
	<% end %>
</div>