@import "variables";
#user-show {
/*------------------------------photo list------------------------------------*/
#photo_list_area {
	margin:0 auto;

	.photo_list {
		/*background: url('../img/photo_list_bg.jpg') left bottom no-repeat;*/
		height:252px;
		margin-bottom:10px;
		position: relative;

		.photo {
			border-top:4px solid #fff;
			border-bottom:30px solid #fff;
			border-left:4px solid #fff;
			border-right:4px solid #fff;
			box-shadow: 0px 1px 4px #bcbcbc;
			float:left;
			height: 179px;
			margin-right:12px;
			position:relative;
			
			.thumbnail {
				height: 179px;
				overflow: hidden;
				position:relative;
				display: block;
			}

			img {
				position: absolute;
			}

			.img_long {
				top:-233px;
				width:652px;
			}

			.img_middle {
				top:-123px;
				width:428px;
			}

			.img_short {
				top:-11px;
				width:204px;
			}
		}

		.photo_long {
			width:652px;
		}

		.photo_middle {
			width:428px;
		}

		.photo_short {
			width:204px;
		}

		.thumbnail_like {
		  background: image-url("thumbnail_like.png") left center no-repeat;
		  bottom: -24px;
		  text-decoration: none;
		  display: block;
		  height: 18px;
		  padding-left: 23px;
		  position: absolute;
		  width: 18px;
		  z-index: 2; 
		  font {
		    color: #999;
		    display: block;
		    padding-top: 3px; }
		  &:hover {
		    background-position: left top; 
		  }
		  &:active {
		    background-position: left bottom; 
		  }
	  }

		.date {
			background-color:$red;
			border-top:4px solid #fff;
			border-bottom:4px solid #fff;
			border-left:4px solid #fff;
			box-shadow: 0px 1px 4px #bcbcbc;
			float: left;
			height:71px;
			margin-top:50px;
			width:71px;

			span {
				background: image-url("date_bg.png") left bottom no-repeat;
				color:#fff;
				display: block;
				font-family:Helvetica,Verdana, Geneva, Arial, sans-serif;
				font-size:14px;
				font-weight:bold;
				letter-spacing:0px;
				margin: 5px 0px 2px 0px;
				padding-bottom:9px;
				text-align:center;
				text-shadow: 0px -1px 0px #6D0B15;
				width:71px;
			}

			h1 {
				color:#fff;
				font-family:Impact;
				font-size:36px;
				text-align:center;
				text-shadow: 0px -1px 0px #6D0B15;
				width:71px;
			}
		}

		.photo_list_info {
			background: image-url('photo_list_bg.jpg') left bottom no-repeat;
			bottom:0px;
			height:36px;
			position: absolute;
			width:660px;
			left: 75px;

			.moment-name {
				display: block;
				color: #666;
				float:left;
				padding-top:8px;
				text-shadow:0px 1px 0px #fff;
			}

			.photo_number_big {
				float: right;
			}
		}
	}
}

/*------------------------------user list------------------------------------*/
	.user_list {
		height:110px;
		position: relative;
		z-index: 2;
		margin-left: 144px;


		img {
			border:2px solid #fff;
			box-shadow:0px 1px 4px #bcbcbc;
			left:10px;
			position: absolute;
			top:0px;
			z-index:2;
			width: 80px;
		}

		.user_info {
			background-color:#fff;
			box-shadow:0px 1px 4px #bcbcbc;
			bottom:0px;
			height:53px;
			margin-bottom:15px;
			padding:20px 0px 0px 110px;
			position: absolute;
			width:550px;

			h1 {
				margin-bottom:5px;
			}

			p {
				color: $light_grey;
			}

			.action-bar {
				.action {
					top:0px;
					height:73px;
					position: absolute;
					width:73px;

					&#action-follow {
						background:image-url('action-bar-friends.png') left -73px no-repeat;
						right:0px;


						&:hover, &.active {
							background-position:left top;
						}
					}

					&#action-map {
						background: image-url("action-bar-location.png") 0px -81px no-repeat;
						z-index: 2;
						right: 74px;
						height: 81px;
						top: 0;

						&:hover, &.active {
							background-position: left 0px;
						}
					}
				}
			}
		}
	}

	#map_canvas {
		z-index: 1;
		width: 629px;
		height: 300px;
		display: none;
		background-color: white;
		margin: -14px 0 20px 155px;
		border:4px solid #fff;
		border-top: 0;
		box-shadow: 0px 1px 4px #bcbcbc;
	}

	#loadmore {
		margin: 0;
		margin-left: 75px;
	}
}