
<div class="side-row-box" id="moment-name">
	<div class="box-title">照片所在活动</div>
	<div class="box-content">
		<%= moment["name"] %>
		<%= link_to "详情 »", moment_url(moment['id']), :class => "view-more" %>
	</div>
</div>

