<%# 
	render a btn to go to slideshow
	Params:
		moment_id - moment id
%>
<%= link_to "/moments/#{ moment_id }" , :id => "slideshow_entrance" , :class => "mouse" do -%>
	<%= image_tag "slideshow/btn_play.png" , :class => "entrance_img" %>
	<p class="entrance_text">播放照片微电影</p>
<% end -%>