<%#	Params : activity %>
<%# puts activity[ "additional_params" ] .nil? && activity[ "description" ] .nil?  
puts activity[ "additional_params" ] .nil?
puts activity[ "description" ] .nil? 
puts activity[ "description" ] 
%>
<% unless activity[ "additional_params" ] .nil? && activity[ "description" ] .nil? -%>
<div class="info_window">
	<% unless activity[ "description" ] .nil? -%>
		<% if activity[ "description" ] .length > 0 -%>
			<p class="info_text"><%= activity[ "description" ] %></p>
		<% end -%>
	<% end -%>

	<% unless activity[ "additional_params" ] .nil? %>
	<% unless activity[ "additional_params" ] [ "template_rating" ] .nil? && activity[ "additional_params" ] [ "template_price" ] .nil? -%>
	<div class="info_rating">
		<% unless activity[ "additional_params" ] [ "template_rating" ] .nil? -%>
			<% rating = activity[ "additional_params" ] [ "template_rating" ] .to_i
			for i in 1..rating  -%>
				<%= image_tag "slideshow/star_on.png" , :style => "margin-right:5px; width:16px;" %>
			<% end -%>
			<% for i in 1..( 5 - rating )-%>
				<%= image_tag "slideshow/star_off.png" , :style => "margin-right:5px; width: 16px;" %>
			<% end -%>
		<% end -%>
		<% unless activity[ "additional_params" ] [ "template_rating" ] .nil? && activity[ "additional_params" ] [ "template_price" ] .nil? -%>
			|
		<% end -%>
		<% unless activity[ "additional_params" ] [ "template_price" ] .nil? -%>
			<%= activity[ "additional_params" ] [ "template_price" ] -%>
		<% end -%>
	</div>
	<% end -%>
	<% end -%>
</div>
<% end -%>