<% if ( @moment[ "description" ] != "" && !@moment[ "description" ] .nil? ) || @moment[ "location" ] != "" -%>
<div id="story_info">
    <%= image_tag "icon/icon_arrow.png" , :alt => "" , :class => "arrow" %>
    <div class="story_container">
    <% if ( @moment[ "description" ] != "" && !@moment[ "description" ] .nil? ) -%>
        <div class="info_container">
            <p id="story_description" title="故事简介">
                <%= empty_descripe( moment[ "description" ] ) %>
            </p>
        </div>
    <% end -%>
    <% if @moment[ "location" ] != "" -%>
        <div class="info_container">
            <p id="location_list" title="故事地点">
                <%= empty_descripe( moment[ "location" ] ) %>
            </p>
            <%= render :partial => "widgets/smallmap" , :locals => { :moment => moment } %>
            <div class="clearfix"> </div>
        </div>
    <% end -%>
    </div>
</div>
<% end -%>
