<div class="story_container">
    <div class="info_container">
        <p id="story_description">
            <%= empty_descripe( moment[ "user" ] [ "content" ] ) %>
        </p>
    </div>
    <div class="info_container">
        <p id="location_list">
            <%= empty_descripe( moment[ "location" ] ) %>
        </p>
        <%= render :partial => "widgets/smallmap" , :locals => { :lat => moment[ "lat" ] , :lng => moment[ "lng" ] } %>
    </div>
</div>
