.user-avatar-link {
	position: relative;
	float: left;

	.user-avatar-shadow {
		position: relative;
		z-index: 2;
	}
	.user-avatar {
		position: relative;
		z-index: 1;

		width: 29px;
		margin-top: 1px;
		height: 31px;
	}
}