#v {
	background: image-url("moments/details/v_new.png") left top no-repeat;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='image/scale/crop');
	height: 255px;
	margin-top: 10px;
	width: 959px;

	.close {
		background: image-url("moments/details/close.jpg") left top no-repeat;
		display: block;
		float: right;
		height: 10px;
		width: 10px;
		margin: 10px 10px 0px 0px;
	}

	.download_bar {
		margin-top: 89px;
		margin-right: 100px;
		_margin-right: 60px;
		float: right;
		position: initial;
		width: initial;

		.download_iphone, .download_android {
			float: left;
		}

		.download_android {
			margin-left: 20px;
		}
	}
}