.comment-item {
	line-height: 22px;
	border-bottom: 1px solid #E6E6E6;
	background-color: white;
	padding: 10px;


	.box-label {
		position: relative;
		float: left;
		height: 29px;
		width: 29px;
		.user-avatar-shadow {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
		.user-avatar {
			position: absolute;
			top: 0;
			left: 0;
			width: 30px;
			height: 31px;
		}
	}

	.box-wrapper {
		margin-left: 40px;
		.box-title {
			color: #4D4D4D;
			font-size: 12px;
			.author {
				display: initial;
				color: #4D4D4D;
			}
			.created-time {
				float: right;
				color: #CCC;
				font-size: 11px;
			}
		}
		.box-content {
			font-size: 12px;
			color: #999;
			width: 552px;
			.action-mention {
				width: 22px;
				height: 11px;
				background: image-url("moments/details/comment_this.jpg") no-repeat;
				margin: 4px;
				vertical-align: bottom;
				float: right;
				display: none;

				&:active, &:hover {
					display: inline-block;
					background-position: 0 -11px;
				}
			}
		}
	}

	&:hover {
		.box-wrapper {
			.box-content {
				.action-mention {
					display: inline-block;
				}				
			}
		}
	}
}