.download_bar{
  position: relative;
  margin-top: 30px;

  .download_icon{
    height: 24px;
    width: 207px;
  }

  a {
    height: 61px;
    width:208px;
    display: block;
    background-image:image-url("moments/download.png"); 
    margin: 10px 0;


    &.download_iphone:hover {
      background-position: 0px -72px;
    }
    &.download_android {
      background-position: -220px 0px;
      &:hover {
        background-position:-220px -72px;
      }
    }
  }
}