#footer {
  color: #b3b3b3;
  padding: 11px 20px;
  font-size: 11px;
  width: initial;
  clear: both;
  float: right;
  margin-top: 40px;

  a {
    color: #b3b3b3;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}