#header{
	background-image: image-url("moments/details/header_bg.jpg");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path('moments/details/header_bg.jpg'), sizingMethod='image/scale/crop');
	height:44px;
	width:100%;

	#header_content {
		height:44px;
		margin: 0px auto;
		width:960px;
	}

	a,font {
		color: #fff;
		display: block;
		float:left;
		font-family:"Microsoft YaHei",Hei,Helvetica,Arial;
		font-size:12px;
		text-decoration:none;
		padding: 4px 0px;
		text-shadow: 0px 2px 0px #6D0B15;
	}


	#home-link {
		padding: 0;
		#logo{
			float: left;
		}
	}

	#account {
		float: right;

		.user_avatar {
			padding-top: 6px;
			float: left;
			height:32px;
			position: relative;
			width:30px;
			img {
				position: absolute;
				&:first-child {
					margin-top:1px;
				}
			}
		}

		ul {
			padding: 10px 0px 0px 40px;

			li {
				color: #fff;
				display: block;
				float:left;
				margin-right:5px;
			}
		}
	}

	#login {
		float: right;
		margin-left:20px;

		a {
			float: left;
			height:36px;
			width:30px;
		}

		font {
			background: image-url("moments/details/login_bg.jpg") left top no-repeat;
			display:block;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='image/scale/crop');
			float: left;
			text-shadow: 0px 2px 0px #6D0B15;
			padding-left: 20px;
			line-height: 33px;
		}

		ul {

			li {
				display: block;
				float:left;
				margin-left:5px;
			}
			
		}

		#login_sian {
			background: image-url("moments/details/login_sina_bg.jpg") left center no-repeat;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='image/scale/crop');
		}

		#login_sian:hover {
			background-position:left top;
		}

		#login_sian:active {
			background-position:left bottom;
		}

		#login_douban {
			background: image-url("moments/details/login_douban_bg.jpg") left center no-repeat;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='image/scale/crop');
		}

		#login_douban:hover {
			background-position:left top;
		}

		#login_douban:active {
			background-position:left bottom;
		}

		#login_renren {
			background: image-url("moments/details/login_renren_bg.jpg") left center no-repeat;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='image/scale/crop');
		}

		#login_renren:hover {
			background-position:left top;
		}

		#login_renren:active {
			background-position:left bottom;
		}

		#login_tencent {
			background: image-url("moments/details/login_tencent_bg.jpg") left center no-repeat;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='image/scale/crop');
		}

		#login_tencent:hover {
			background-position:left top;
		}

		#login_tencent:active {
			background-position:left bottom;
		}

		#login_kaixin {
			background: image-url("moments/details/login_kaixin_bg.jpg") left center no-repeat;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='image/scale/crop');
		}

		#login_kaixin:hover {
			background-position:left top;
		}

		#login_kaixin:active {
			background-position:left bottom;
		}
	}

	#nav {
		background: image-url('widgets/header/nav_bg.jpg') left bottom no-repeat;
		float: left;
		height:44px;
		margin-left:200px;
		width:341px;

		li {

			a {
				padding-top:15px;
				text-align:center;
				width:85px;
			}
		}
	}
}