$shadow:0px 1px 4px #bcbcbc;

#loadmore {
	display:block;
	text-decoration:none;

	@include border(none,none,none,none,2px);
	@include container(20px,660px,0 auto,10px 0px 0px 0px,none,$shadow);
	@include font(#666,12px,"Helvetica",center,none);
	@include background(#fff,none,none,none,no-repeat,none);

	&:hover {
		@include background(#e6e6e6,none,none,none,no-repeat,none);
	}
}

