$red:#E7253D;
$light_grey:#999;
$grey:#4d4d4d;
$border_color:#e6e6e6;

$white_shadow:0px 1px 0px #ffffff;
$white_shadow_ie:dropshadow(color=#ffffff, offx=0, offy=1);
.photo_number_big {
	background: image-url("moments/details/photos_number.png") left 5px no-repeat;
	color: #999;
	display: block;
	float: left;
	height:21px;
	margin:5px 0px 0px 3px;
	padding:5px 0px 0px 55px;
	text-shadow: $white_shadow;
}

.page_number_area {

	li {
		color: #999;
		text-shadow: $white_shadow;
		float:left;
		margin-right:5px;
	}
}

.page_number {
	background: image-url("moments/details/page_number.png") left center no-repeat;
}

.prev_page {
	background: image-url("moments/details/first_page.png") left center no-repeat;
}

.next_page {
	background: image-url("moments/details/last_page.png") left center no-repeat;
}

.page_number,
.prev_page,
.next_page,
.page-dot {
	
	color: #999;
	display: block;
	font-family:"Helvetica",Arial;
	height:16px;
	letter-spacing:0px;
	padding-top: 4px;
	text-decoration:none;
	text-align:center;
	text-shadow: $white_shadow;
	width:24px;

	float:left;
	margin-left:5px;

	&:hover:not(.page-dot) {
		background-position:left top;
		color: $red;
	}

	&:active:not(.page-dot) {
		background-position:left bottom;
		color: #fff;
		text-shadow: 0px 1px 0px #999;
		filter: dropshadow(color=#333, offx=0, offy=0);
	}
}