	#info-col {
		float: left;
		margin-left: 20px;
		.side-row {
			margin-bottom: 20px;

			.side-row-box {
				width: 265px;
				padding: 5px;
				background: white;
				font-size: 12px;

				@include round-shadow-box;

				&.multi-col-box {
					padding: 10px 0;
					width: 275px;
				}

				.box-col {
					width: 91px;
					height: 45px;
					float: left;
					text-align: center;
					h1 {
						font: bold 24px helvetica;
					}

					&.right-border {
						border-right: 1px solid #ccc;
					}
				}

				.box-title {
					color: #999;
				}

				.box-content {
					color: #4D4D4D;

				}
			}
		}
	}

#moment-name {
	.box-title {
		padding-left: 20px;
		background: image-url("icons.png") no-repeat 0 2px;
	}
	.box-content {
		a.view-more {
			float: right;
			color: #999;
			text-decoration: none;
		}
	}
}


#moment-participators {
	.box-title {
		padding-left: 20px;
		background: image-url("icons.png") no-repeat 0 -18px;
	}
	.box-content {
		margin-top: 5px;
	}
}


