#info-col {
	width: 274px;
	float: right;
	// margin: 23px 0 0 8px;
	_margin-left: 0;
	.side-row {
		margin-bottom: 10px;
		.side-row-box-top {
			background: image-url("moments/details/container_right_top.png") left top no-repeat;
			font-size: 0px;
			height: 10px;
			width: 275px;
		}

		.side-row-box {
			// width: 265px;
			// padding: 5px;
			// background: white;
			// font-size: 12px;

			// @include shadow-box;

			background: image-url("moments/details/container_right_middle.png") left top repeat-y;
			padding: 5px 12px 12px 16px;
			width: 250px;

			.box-title {
				color: #999;
			}

			.box-content {
				color: #4D4D4D;

			}


			&#moment-name {

				background: image-url("moments/details/moment_link.png") left top no-repeat;
				height: 60px;
				.box-title {
					padding-left: 20px;
					background: image-url("icons.png") no-repeat 0 2px;
				}
				.box-content {
					a.view-more {
						float: right;
						color: #999;
						text-decoration: none;
					}
				}
			}

			&#activity-info {
				position: relative;

				.minor-arrow-r {
					position: absolute;
					top: 20px;
					left: -10px;
					z-index: 2;
				}

				.box-label {
					float: left;
				}

				.box-wrapper {
					margin-top: 9px;
					float: left;
					width: 186px;
					margin-left: 10px;

					.box-title {
						font-size: 14px;
						color: #4D4D4D;
						line-height: 20px;
						.created-time {
							float: right;
							color: #CCC;
						}
					}
					.box-content {
						font-size: 12px;
						margin-top: 2px;
					}
				}

				.clearfix {
					clear: both;
				}
			}


			&.multi-col-box {
				padding: 10px 0 15px;
				width: 275px;
			}

			.box-col {
				width: 91px;
				height: 45px;
				float: left;
				text-align: center;
				h1 {
					margin-top: -5px;
					color: #4D4D4D;
					font: bold 36px helvetica;
				}

				&.right-border {
					border-right: 1px solid #ccc;
				}


				h2 {
					color: #999;
					font-size: 12px;
				}
			}


		}

		.side-row-box-bottom {
			background: image-url("moments/details/container_right_bottom.png") left top no-repeat;
			font-size: 0px;
			height: 3px;
			width: 275px;
		}
	}
}




#moment-participators {
	.box-title {
		padding-left: 20px;
		background: image-url("icons.png") no-repeat 0 -18px;
		line-height: 20px;
		margin-top: -8px;

	}
	.box-content {
		margin-top: 5px;
		img {
			width: 44px;
			height: 44px;
		}
	}
}

#activity-show {
	#info-col {
		.collapse-row {
			margin-top: -27px;
			// border-top: 1px solid #e5e5e5;

			.side-row-box {
				// padding: 11px;
				// border: 0;
				// border-radius: 0 0 4px 4px;
			}
		}

	}
}




