#thumbnails {
	.box-title {
		padding-left: 55px;
		background: image-url("icons.png") no-repeat 0 -38px;
	}
	.box-content {
		margin-top: 6px;
		img {
			float: left;
			border: 1px solid transparent;
		}
		.thumbnail-item.selected img {
			border: 1px solid black;
			opacity: 0.5;
			-moz-opacity: 0.5;
			filter:alpha(opacity=5);
		}

		.box-thumbnails {
			width: 56px;
			height: 56px;
			margin-right: 4px;
		}



		.pagination {
			margin-left: -5px;
			margin-top: 10px;
			float: left;
			clear: both;

			
			.page_number, .prev_page, .next_page, .page-dot {
				line-height: 13px;
				padding: 2px 0;
			}	
		}
			
	}
}