@mixin all_border_radius( $r ) {
	border-radius: $r ;
	-moz-border-radius: $r ;
	-webkit-border-radius: $r ;
}

.poi_block {
	margin: 5px 5px 0px 0px;
	padding: 5px 5px 5px 23px;
	float: left;
	height: 15px;
	font-size: 12px;
	@include all_border_radius( 4px ) ;
	color: white;
	background: #7cb7e8 image-url("feeds/moment_list_poi_bg.png") no-repeat left center;
	*width: auto;
}

.tag_block {
	margin: 5px 5px 0px 0px;
	padding: 5px;
	float: left;
	height: 15px;
	font-size: 12px;
	background-color: #b3a3d1;
	@include all_border_radius( 4px ) ;
	color: white;
	*width: auto;
}
