#friend-show {
	width: 100%;
	overflow: hidden;

	#main-block {
		position: relative;
		width: 900px;
		margin: -29px auto 0;

		#user-info {
			width: 100%;

			img.avatar {
				margin: 10px;
				width: 80px;
				height: 80px;
				border: 2px solid rgb(255, 255, 255);
				box-shadow:0px 1px 6px rgba(0,0,0,.3);
				-moz-box-shadow:0px 1px 6px rgba(0,0,0,.3);
				-webkit-box-shadow:0px 1px 6px rgba(0,0,0,.3);
			}

			h1#detail {
				display: block;
				margin-top: 35px;
				margin-left: 10px;
				float: left;
				font-size: 25px;
				color: white;
				text-shadow:black 1px 1px 0;
			}
		}

		#following-list {
			width: 900px;
		}
	}
}