#user-show {
	width: 100%;

	#nopermission{
		width: 330px;
		position: absolute ;
		top: 100px ;
		left: 50% ;
		margin-left: -240px ;
		display: block;
		padding: 40px 40px 40px 110px;
		background:rgba(0,0,0,.5) image-url("images/icon_lock.png") no-repeat 43px center;
		color: white;
		font-size: 18px;

		border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	}
	
	#main_block {
		//width: 850px;
		width: 370px;
		margin: 0px auto;
		position: relative;

		#user_info {
			width: 370px;
			left: 50%;
			top: -105px;
			margin: 0px auto;
			position: absolute;
			margin-left: -185px;
			background-color: white;

			border-radius: 6px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;

			box-shadow:0px 1px 6px gray;
			-moz-box-shadow:0px 1px 6px gray;
			-webkit-box-shadow:0px 1px 6px gray;

			z-index: 233;

			#user_nav_bar {
				width: 100%;
				border-top: 1px solid #BBBBBB;

				.user_nav {
					width: 91.5px;
					height: auto;
					border-left: 1px solid #BBBBBB;
					float: left;
					padding: 5px 0;

					p.number {
						font-size: 20px;
						text-align: center;
						color: #4d4d4d;
					}

					p.title {
						font-size: 12px;
						text-align: center;
						color: #BBBBBB;
					}

					&:first-child { border : none ; }
				}

				#user_nav_arrow {
					position: absolute;
					bottom: -11px;
					left: 34.75px;
				}
			}
		}

		#feed_container {
			padding-top: 30px;
		}
	}
}

.user_feed_title {
	margin: 5px 0;
	color: #888888;
	font-size: 14px;
	width: 100%;
	margin: 5px 0 15px;
	text-align: center;
}

.user_feed {
	height: autp;
	padding: 8px;

	.avatar {
		float: left;
	}

	p.username {
		float: left; 
		width: 190px;
		font-size: 16px;
		margin: 10px 0 10px 15px;
		color: #4d4d4d;
	}

	a.btn_small {
		float: right;
		margin-top: 4px;
	}
}
.user_feed_self {
	@extend .user_feed;
	margin-bottom: 10px;
	background-color: white;
	z-index: 232;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	box-shadow:0px 1px 6px gray;
	-moz-box-shadow:0px 1px 6px gray;
	-webkit-box-shadow:0px 1px 6px gray;
}
