#user-show {
	width: 100%;

	img#lock{
		position: absolute ;
		top: 100px ;
		left: 50% ;
		margin-left: -200px ;
		display: block;
		padding: 20px;
		border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		background-color: rgba(0,0,0,.5);
	}

	#main-block {
		position: relative;
		top: -80px;
		width: 755px;
		margin: 0px auto;


		#user-info {
			position: relative;
			width: 100%;

			img.avatar {
				margin: 10px;
				width: 80px;
				height: 80px;
				border: 2px solid rgb(255, 255, 255);
				box-shadow:0px 1px 6px rgba(0,0,0,.3);
				-moz-box-shadow:0px 1px 6px rgba(0,0,0,.3);
				-webkit-box-shadow:0px 1px 6px rgba(0,0,0,.3);
			}

			h1 {
				float: left;
				display: block;
				margin-top: 35px;
				margin-left: 10px;
				font-size: 25px;
				color: white;
				text-shadow:black 1px 1px 0;
			}
			
			#user-info-button {
				margin-top: 20px;
				margin-left: 25px;
				float: left;
			}
		}

		#following-list {
			width: 100%;
			margin: 10px 0px;
			border-top: 1px solid #D2CFCB;
		}
	}
}
